/**
 * GEEK GREEN PRESET
 *
 * @package Klein
 * @since 1.0
 *
 */

  /**
  * Colours
  *
  *
  * base = 65cb00
  *
  * dark = 438700
  * darker = 214300
  * black = 081000
  *
  * light = 8fff21
  * lighter = baff76
  * white = f6ffed
  *
  */

.bx-wrapper .bx-controls-direction a,
.bbp-pagination-links span.current, 
.woocommerce span.onsale,.woocommerce-page span.onsale,.woocommerce .widget_layered_nav ul li,.woocommerce-page .widget_layered_nav ul li,.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale,.item-list-tabs li a,.activity-type-tabs li a {
    background: #65cb00;
}

.site-content a {
    /*padding: 0 0.3em;*/
    text-decoration: underline;
    color: #438700;
}

.site-content a:hover {
    color: #081000;
}

.desktop-menu ul.sub-menu li a:hover,.desktop-menu ul.children li a:hover {
    background: #214300;
}

.widget-title {
    border-bottom: 1px solid #438700;
    color: #438700;
}

#footer {
    background: #438700;
}

#klein-top-updates-badge {
    background: #baff76;
}

.desktop-menu ul.sub-menu li a,.desktop-menu ul.children li a,#header,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,#footer-widgets {
    background: #214300;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count,.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active,.item-list-tabs li.selected a,.item-list-tabs li.current a,.activity-type-tabs li.selected a {
    background: #438700;
}

.widget {
    color: #438700;
    background: #baff76;
}

.widget a {
    text-decoration: underline;
}

#footer-widgets .widget,#footer-widgets .widget a {
    color: #baff76;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count,.widget.widget_bp_groups_widget a,.widget.widget_bp_groups_widget,.widget.widget_bp_core_members_widget a,.widget.widget_bp_core_members_widget {
    color: #baff76;
}

#front-page-widgets-section-a .widget-title {
    color: #baff76;
}

.widget.widget_bp_groups_widget .widget-title a,
.widget.widget_bp_core_members_widget .widget-title a{
	color: #214300;
}

.entry-content-thumbnail-zoom {
    background: #214300;
}

.widget_layered_nav li a {
    color: #baff76;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    background: #438700;
}

.woocommerce .woocommerce-pagination li a.page-numbers:hover,.woocommerce .woocommerce-pagination li span.page-numbers.current:hover,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: #214300;
}

.item-list-tabs li.loading{
	background: #438700;
}
.item-list-tabs li.loading a{
	background: url(../../images/preloaders/bp_loader.gif) no-repeat #438700 right center !important;
}

/*
 * Mobile Navigation
 * 
 * Added @version 2.0.7
 * @package klein
 * @version 2.0.7
 * */
.menu.mobile li a{
	background: #214300;
}
.menu.mobile .sub-menu li a:hover,
.menu.mobile li a:hover{
	background: #214300;
}
.menu.mobile .sub-menu li a,
.menu.mobile li a .sub-menu-toggle
{	
	background: #438700;
}
