/**
 * GEEK GREEN PRESET
 *
 * @package Klein
 * @since 1.0
 *
 */

  /**
  * Colours
  *
  *
  * base = 65cb00
  *
  * dark = 438700
  * darker = 214300
  * black = 081000
  *
  * light = 8fff21
  * lighter = baff76
  * white = f6ffed
  *
  */

/* backgrounds */  
.fluid,
.boxed {
    background: #214300;
}
/*
.single .fluid,
.single .boxed {
    background: #f6ffed;
}
*/
.home .fluid,
.home .boxed {
    background: #214300;
}

.site-header {
  background: #081000;
}

.bx-wrapper .bx-controls-direction a,
.bbp-pagination-links span.current,
.item-list-tabs li a,
.activity-type-tabs li a {
    background: transparent;
    border: 1px solid;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.item-list-tabs li.selected a,
.item-list-tabs li.current a,
.activity-type-tabs li.selected a,
.item-list-tabs li a:hover,
.item-list-tabs li a:active,
.activity-type-tabs li a:hover,
.activity-type-tabs li a:active {
  color: #081000;
  background: #65cb00;
  border: 1px solid;
}

.site-content .blog-content a {
    color: #438700;
}

.site-content .blog-content a:hover {
    color: #081000;
}

.desktop-menu ul.sub-menu li a:hover,
.desktop-menu ul.children li a:hover {
    background: #214300;
}

.widget-title {
    border-bottom: 3px solid #baff76;
    color: #081000;
    background: #65cb00;
    border-radius: 0 30px 0 0;
}

#footer {
    background: transparent;
}

#bp-klein-top-bar .container {
  height: 130px;
  background-image: url(../../images/Earthrise.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

#klein-top-updates-badge {
  background: #baff76;
}

#klein-top-updates-nav {
  color: #8fff21;
  background: ;
  border: 3px solid;
}

#klein-top-updates-nav a {
  color: #baff76;
}

#klein-top-updates-btn {
  background-color: #65cb00 !important;
}

#klein-top-updates-btn.open,
#klein-top-updates-btn:hover {
  background-color: #8fff21 !important;
}

.desktop-menu ul.sub-menu li a,
.desktop-menu ul.children li a,
#footer-widgets {
    background: #214300;
}

.widget {
    color: #438700;
    background: #baff76;
}

.widget a {
    text-decoration: underline;
}

#footer-widgets .widget,#footer-widgets .widget a {
    color: #baff76;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count,.widget.widget_bp_groups_widget a,.widget.widget_bp_groups_widget,.widget.widget_bp_core_members_widget a,.widget.widget_bp_core_members_widget {
    color: #baff76;
}

#front-page-widgets-section-a .widget-title {
    color: #baff76;
}

.widget.widget_bp_groups_widget .widget-title a,
.widget.widget_bp_core_members_widget .widget-title a{
	color: #214300;
}

.entry-content-thumbnail-zoom {
    background: #214300;
}

.widget_layered_nav li a {
    color: #baff76;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    background: #438700;
}

.woocommerce .woocommerce-pagination li a.page-numbers:hover,.woocommerce .woocommerce-pagination li span.page-numbers.current:hover,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: #214300;
}

.item-list-tabs li.loading{
	background: #438700;
}
.item-list-tabs li.loading a{
	background: url(../../images/preloaders/bp_loader.gif) no-repeat #438700 right center !important;
}

/*
 * Mobile Navigation
 * 
 * Added @version 2.0.7
 * @package klein
 * @version 2.0.7
 * */
.menu.mobile li a{
	background: #214300;
}
.menu.mobile .sub-menu li a:hover,
.menu.mobile li a:hover{
	background: #214300;
}
.menu.mobile .sub-menu li a,
.menu.mobile li a .sub-menu-toggle
{	
	background: #438700;
}

.blog-content,
.comment-content,
.comment-respond {
  margin-top: 0;
  border-radius: 0 2.8em;
  display: block;
}
.blog-content {
  background: #baff76;
  margin-bottom: 2.8em;
}
.single .blog-content {
  background: #f6ffed;
}
.comment-content,
.comment-respond {
  background: #baff76;
  margin-bottom: 1.4em;
}
.blog-content-excerpt,
.blog-content-thumbnail {
  background: #f6ffed;
}
.blog-content-meta {
  text-align: right;
  position: relative;
}
.blog-content-meta .edit-link {
  position: absolute;
  left: 3em;
  top: .2em;
}
.entry-title {
    font-size: 48px;
    line-height: 50px;
    color: #baff76;
    text-align: center;
}

li.comment {
  margin-left: 0;
}

.comment-form {
  width: 100%;
}

.comment-form .form-submit {
  text-align: right;
}

.comment-author .avatar {
    display: inline;
    float: none;
    height: auto;
    margin: 0;
    width: auto;
}
.comments-title {
  color: #8fff21;
  margin-left: 19%;
}
.comment-reply-title {
  color: #438700;
}
li.comment time {
  color: #65cb00;
}

/* user bar */
#bp-klein-user-bar a {
    color: #65cb00;
}

#bp-klein-user-bar a:hover {
    color: #cbff66;
}

/* search form */
#bp-klein-user-bar .search-form {
  position: absolute;
  right: 20px;
  top: 1px;
}

#bp-klein-user-bar .search-field {
  color: #438700;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  content: "\e003";
  border: none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition:         width 400ms ease, background 400ms ease;
  width: 0;
}

#bp-klein-user-bar .search-field:focus {
  font: 18px/1.8em 'Roboto', Arial, Helvetica, sans-serif;
  cursor: text;
  outline: 0;
  width: 230px;
}

#bp-klein-user-bar .search-submit {
  display: none;
}

#bp-klein-user-bar  input[type="search"] {
  -webkit-appearance: textfield;
}


.avatar {
  border-radius: 50%;
}


/* Buddypress */

.bp-content-area {
    width: 80%;
    margin: 2.8em auto;
}

.buddypress .activity-item {
    margin-bottom: 1.4em;
    width: 90%;
    margin-left: 10%;
}
.buddypress #item-header-content,
.buddypress .activity-item .activity-content .activity-inner,
.buddypress .activity-item .activity-comments .acomment-content {
    border-radius: 0 4em;
    padding: 1.4em 2.8em;
    display: block;
    background: #f6ffed;
}
.buddypress .activity-item .activity-comments .acomment-content {
    background: #baff76;
}
#activity-filter-select {
    color: #8fff21;
}
