/*
 * BuddPress CSS
 *
 * @package Klein
 * @since version 1.0
 *
 */

img.avatar
{
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.jcrop-holder .avatar,
#avatar-crop-pane img.avatar,
#avatar-to-crop,
#avatar-upload-form img.avatar{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;  
}

table th p:last-child,
table td.data p:last-child
{
    margin-bottom: 0;
}

.directory.groups h1#bp-klein-page-title
{
    position: relative;
}

.directory.groups h1#bp-klein-page-title a
{
    font-size: 14px;

    position: absolute;

    display: inline-block;
}

h1#bp-klein-page-title a:hover
{
    background: transparent;
}

.acomment-content,
#activity-stream .activity-content
{
    border-color: #bdc3c7;
}
.acomment-content iframe
{
    width: 300px;
    max-width: 90%;
    height: 200px;
}

.tab-pane#managers span.activity
{
    display: block;

    margin: 20px 0;
}

span.page-numbers,
a.page-numbers
{
    display: inline-block;
    float: left;
    padding: 5px 12px;
    border: 1px solid #2ECC71;
    border-right: 0;
    margin-right: -1px;
}

span.page-numbers:first-child,
a.page-numbers:first-child
{
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

span.page-numbers:last-child,
a.page-numbers:last-child {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #2ECC71;
}


.page-numbers.current:hover,
.page-numbers:hover
{
    border-color: #27AE60;
    color: #27AE60;
}

.page-numbers:active
{
    position: relative;

}
.item-list-tabs li a,
.activity-type-tabs li a
{
    color: #95A5A6;
    font-weight: 400;
}

.item-list-tabs#subnav .fa-reorder {
    font-size: 28px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.item-list-tabs#subnav li:first-child a {
    padding-left: 0;
}

.item-list-tabs#subnav li a {
    font-weight: 400;
    font-size: 15px;
    padding: 0 10px;
}

.item-list-tabs#subnav li.current a {
    font-weight: bold;
    color: #34495E;
}

.item-list-tabs li.loading
{
    padding-right: 8px;
}

.item-list-tabs li.selected.loading a,
.item-list-tabs li.current.loading a,
.item-list-tabs li.loading a
{
    padding-right: 10px;
}

.item-list-tabs li.selected.loading a:after,
.item-list-tabs li.current.loading a:after,
.item-list-tabs li.loading a:after {
    content: "\f110";
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 0;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: inline-block;
}

.item-list-tabs li.selected a,
.item-list-tabs li.current a,
.activity-type-tabs li.selected a
{
   border-bottom: 2px solid #2ECC71; 
}

.item-list-tabs#subnav li.selected a,
.item-list-tabs#subnav li.current a
{
    border-bottom: none;
}
.item-list-tabs li.selected a,
.item-list-tabs li.selected a:hover,
.activity-type-tabs li.selected a,
.activity-type-tabs li a:hover
{
    color: #7F8C8D;
}

.item-list-tabs#subnav
{
    display: inline-block;

    width: 100%;
    margin-bottom: 20px;
}

.group-home .item-list-tabs#subnav
{
    margin-bottom: 35px;
}

#group-list.invites .item-avatar .avatar
{
    width: 100%;
}

#group-list.invites li .action
{
    text-align: center;
}

.group-create #group-desc
{
 
    max-width: 100%;
    height: 150px;
}

#group-create-body img.avatar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 35px;
    max-width: 100%;
    height: auto;
}

#invite-list ul {
    padding-left: 0;
}


#group-create-body input[type=file] {
    margin-bottom: 35px;
}

#search-groups-form ,
#search-members-form {
    padding: 20px;
    background: #ECF0F1;
    border: 2px solid #BDC3C7;
    border-radius: 6px;
    margin-bottom: 20px;
}

#search-message-form label
{
    display: block;

    margin-right: 10px;
    margin-bottom: 10px;
}

#search-message-form #messages_search{
    width: 312px;
    margin-right: 10px;
}
#search-message-form label input
{
    margin-bottom: 0;
}
#message-threads,
.notification-settings
{
    width: 100%;
    margin-bottom: 20px;
}

.buddypress #blogs-list,
.buddypress #blogs-list li,
.item-list-tabs ul,
.item-list-tabs li,
ul.bp-klein-fix-list li,
#group-mods li,
ul#group-admins,
ul#group-admins li,
ul#admins-list li,
ul#members-list li,
ul#friends-list li,
#groups-list ul,
#groups-list li,
#member-list ul,
#member-list li,
#bp-klein-user-nav ul,
#bp-klein-user-nav li,
#group-list li,
#friend-list li
{
    position: relative;

    margin: 0;

    list-style: none;

    padding-left: 0;
}

.buddypress #groups-list,
.buddypress #members-list
{
    clear: both;

    margin-bottom: 0;
    padding-left: 0;
}

.buddypress #primary #groups-list,
.buddypress #primary #members-list {
    margin-left: -10px;
}

.buddypress #primary #friend-list li,
.buddypress #members-group-list #member-list li,
.buddypress #primary #groups-list li,
.buddypress #primary #members-list li {
float: left;
text-align: center;
border: 1px solid #ECF0F1;
width: 31%;
margin-left: 10px;
margin-bottom: 10px;
padding: 35px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}

.buddypress #groups-list li h5,
.buddypress #members-dir-list li h5,
.buddypress #member-list li h5
{
    margin-bottom: 0;
}
.buddypress #groups-list li h5 a,
.buddypress #members-dir-list li h5 a,
.buddypress #member-list li h5 a
{
    font-size: 16px;
}

.item-list-tabs li.feed a
{
    padding-left: 0 !important;

    background-color: transparent;
}

#klein-top-updates-badge,
.item-list-tabs li a span
{
    position: relative;

    background: #2c3e50;
}

#klein-top-updates-badge:after
{
    position: absolute;
    top: 100%;

    width: 0;
    height: 0;

    content: ' ';

    border: solid transparent;
}

#klein-top-updates-badge:after
{
    left: 50%;

    margin-left: -4px;

    border-width: 4px;
    border-color: rgba(0,0,0,0);
    border-top-color: #e74c3c;
}

.item-list-tabs li a span:after{
    content: ")";
}


.item-list-tabs li a span:before{
    content: "(";
}
.item-list-tabs li a span:after
.item-list-tabs li a span:before{
    display: inline;
}
#klein-top-updates-badge,
.item-list-tabs li a span
{
font-size: 15px;
right: 2px;
padding: 1px 6px;
text-align: center;
position: static;
background: none;
font-style: italic;
}

#klein-top-updates-badge
{
    background: #e74c3c;
}

#klein-top-updates-badge:after
{
    display: none;
}

#klein-top-updates-badge
{
    top: 15px;
    right: -12px;

    display: block;

    width: 25px;
    height: 24px;
    padding-top: 6px;
    font-size: 10px;
    text-align: center;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.item-list-tabs#object-nav {
    margin-bottom: -8px;
    width: 100%;
    display: inline-block;
}
.item-list-tabs
{

    display: inline-block;
    clear: both;
    width: 100%;
    margin-bottom: 24px;
}

.item-list-tabs li
{
    float: left;
}

#item-nav {
    background: #ECF0F1;
}

li#groups-order-select,
.item-list-tabs li a,
.group-create .item-list-tabs li
{
    display: block;

    padding: 15px 10px;

    text-decoration: none;
}

.item-list-tabs li:first-child  a {
    padding-left: 0;
}

.buddypress li#groups-order-select
{
    margin-top: 0;
    padding: 0;
}

.buddypress #groups_search
{
    margin-bottom: 0;

}
.item-list-tabs#subnav li#activity-filter-select
{
    padding-right: 0;
    margin-top: -8px;
}

.group-create .item-list-tabs li a
{
    padding: 0;

    color: #444;
    background: none!important;
}
.group-create #previous-next
{
    display: inline-block;

    margin: 20px 0;
}

#group-create-body
{
display: inline-block;
clear: both;
margin-top: 20px;
width: 525px;
max-width: 100%;
}

li.bp-klein-nav-fix label,
li#groups-order-select label,
li#members-order-select label,
li#activity-filter-select label
{
 
}

.bp-content-area .hentry a
{
    text-decoration: none;
}


.bp-klein-sub-nav
{
    display: none;
}

#bp-klein-user-nav .bp-klein-sub-nav li a
{
    font-size: 95%;

    padding: 6px 22px;

    color: #ecf0f1;
    border-bottom: 1px solid #34495e;
    background: #2c3e50;
}

#bp-klein-user-nav .bp-klein-sub-nav.active
{
    display: block;
}

#bp-klein-user-nav .bp-klein-sub-nav li a:hover
{
    padding-left: 25px;

    border-bottom: 1px solid #2c3e50;
    background: #34495e;
}

#bp-klein-user-nav li a
{
    font-weight: 700;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: .75em;

    color: #ecf0f1;
    border-bottom: 1px solid #16a085;
    background: #1abc9c;
}

#bp-klein-user-nav .sub-nav li a
{
    display: none;

    padding-left: 2em;
}

#bp-klein-user-nav .icon-chevron-down
{
    color: #ccc;
}

#bp-klein-current-user-avatar img
{
    display: block;

    max-width: 5em;
    margin-right: 1em;

    border-radius: 10em;
}

#bp-klein-current-user-detail
{
    max-width: 6em;
    margin-top: 4px;

    word-wrap: break-word;
}

#bp-klein-current-user-detail h6
{
    font-size: 12px;
    line-height: 1em;

    margin: 2.5px 0;
}

#item-header-avatar img
{
    width: 100%;
    margin-bottom: 35px;
    max-width: 180px;
}

@media (max-width: 768px) {
    #item-header {
        text-align: center;
    }
}

ul.acfb-holder li
{
    float: left;

    margin: 10px 0 !important;
    padding: 0;

    list-style-type: none;
}

ul.acfb-holder li.friend-tab
{
    padding: 0 !important;

    border-radius: 0 !important;
}

li.friend-tab img.avatar
{
    width: 25px;
}

.activity-header,
.acomment-meta,
.activity-meta,
.acomment-options
{
    color: #555;
}
.activity-meta a:after
{
    content: ' ';
}

.activity-comments .ac-form,
.activity-comments .ac-form.root
{
    margin-top: 20px;
    margin-left: 65px;
}

.activity-comments .ac-form .ac-reply-avatar,

.activity-comments .ac-form .ac-reply-content {
    display: inline-block;
}

.activity-comments .ac-form .ac-reply-avatar{
    width: 10%;
    float: left;
}

.activity-comments .ac-form .ac-reply-cancel {
    color: #E74C3C;
}

.activity-comments .ac-form .ac-reply-content {
    width: 80%;
}




.buddypress .activity-meta a
{
    margin-right: 10px;
    color: #bdc3c7;
    font-size: 14px;
}

.buddypress .activity-meta a span.count
{
    font-size: 12px;
}


.pagination-links
{
    margin: 14px 0 0;
}

.pagination-links,
.pag-count
{
    display: inline-block;

    width: 100%;
}

.small
{
    font-size: 95%;
}

.ac-form
{
    display: none;
}

.ac-textarea
{
    margin-bottom: 20px;
}
.ac-textarea textarea
{
    width: 100%;
}
#whats-new
{
    width: 100%;
    min-height: 48px;
}


#members-list li,
#activity-stream li
{
    position: relative;

    margin-bottom: 35px;

    list-style: none;
}

#activity-stream .activity-avatar,
#activity-stream .acomment-avatar
{
    position: absolute;
    left: -20px;

    max-width: 4em;
    margin-top: 6px;
}

#activity-stream .acomment-avatar
{
    left: -10px;
}
.acomment-avatar img
{
    width: 32px;
    margin-left: 24px;
}

.acomment-meta,
.acomment-options
{
    margin: 0 0 0 65px;
    padding: 2px 0 0;

    list-style: none;
}

.acomment-meta,
.acomment-options a
{
font-size: 14px;
margin-right: 4px;
color: #bdc3c7;
}

.activity-header p
{
font-size: 14px;
margin-bottom: 0;
color: #95A5A6;
}

.activity-content object,
.activity-content iframe
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    padding: 15px;

    border-radius: 6px;
    background: #ecf0f1;
}


.activity-header .avatar
{

margin: 0 5px;
}

.activity-content .activity-inner
{
    margin: 20px 0 0;
}

.acomment-content
{
    margin-top: 20px;
    margin-left: 65px;

    background: none;
}


#activity-stream .activity-content
{
    min-height: 70px;
    margin-left: 65px;
    padding: inherit;
}

.activity-item li:last-child #activity-stream .activity-content
{
    border-bottom: none;
}

#activity-stream li ul li
{
    margin: 20px 20px 20px 30px;
}

.activity-list .ac-reply-avatar img.avatar,
.activity-list li ul li  img.avatar
{
    width: 32px;
    height: auto;
}


#members_search
{
    margin-bottom: 0;
}
#groups_search_submit,
#members_search_submit
{
display: none;

}


#bbpress-forums fieldset.bbp-form input[type=text],
#groups_search,
#members_search,
#bbp_search,
#messages_search
{
    display: inline-block;

    width: auto;
    max-width: 100%;
}

#bbpress-forums fieldset.bbp-form select,
#members-friends,
#groups-sort-by,
#groups-order-by,
#activity-filter-by,
#members-order-by,
#message-type-select
{
    display: inline-block;

    width: auto;
    min-width: 15em;
    max-width: 20em;
    padding: 6px;
}

#activity-filter-by
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 5px 5px 0;
}

/**
 * Mac Chrome Select Fix
 */

#members-order-by,
.item-list-tabs#subnav li select
{
    height: 36px;
}

form#search-members-form label input[type=text],
form#search-groups-form label input[type=text],

form#search-groups-form label,
form#search-members-form label {
    display: block;
    width: 100%;
    text-indent: 30px;
    position: relative;
}

form#search-members-form label:before,
form#search-groups-form label:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    position: absolute;
    color: #7F8C8D;
    font-size: 22px;
    top: 5px;
    padding-left: 15px;
    left: -30px;
    z-index: 2;
}

#message
{
    display: inline-block;
    clear: both;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px 20px;
}

.buddypress #item-header #message
{
    margin-bottom: 0;
}

.bp_group #buddypress #item-header #message
{
    margin-bottom: 20px;
}

.error
{
    color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.updated
{


    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info
{
    color: #f1c40f;
    border: 1px solid #f1c40f;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul#group-admins li,
ul#group-mods li
{
    float: left;

    width: 32px;
    margin: 10px;
}

.bp-user #activity-filter-select
{
    padding: 2px 0 !important;
}
#post-in-label
{
    display: none;
}

#post-in-label,
li.feed,
#activity-filter-select label
{
  
}

li.feed > a
{
    color: #444;
}

.buddypress li.last
{
    float: right;
}

li.last:first-child
{
    float: none !important;

    padding-left: 0 !important;
}

.bp-klein-group-avatar img
{
    margin-top: 66px;
}

.item-list-tabs#subnav li,
.item-list-tabs#subnav li select,
#message p
{
    margin: 0;
}

.groups-members-search {
    display: block;
    width: 100%;
}

.thread-count,
.thread-avatar
{
    max-width: 60px;

    text-align: center;
}

#groups-dir-list
{
   
}

#groups-dir-list .item-title h5
{
    margin-bottom: 4px;
}

.button.bp-title-button
{
    border-bottom: none;
}

.acomment-delete,
.delete-activity
{
    color: #e74c3c;
}

input#send-to-input
{
    display: block;
    clear: both;

    width: 275px;
}

.acfb-holder
{
    margin-top: 20px;
}

.buddypress .load-more
{
    text-align: center;
}

.friend-request-avatar
{
    float: left;

    margin-right: 20px;
}

.profile-fields td,
#message-threads td
{
}
.profile-fields td a,
#message-threads td a
{
}

.messages .meta-data-message
{
    word-break: break-all;
}
.messages .meta-data-message .activity
{
    display: inline-block;
    clear: both;

    width: 100%;

    text-align: center;
    word-wrap: break-word;
    word-break: normal;
}
.messages .message-content,
.messages .message-metadata
{
    float: left;
}

.messages .message-metadata
{
    width: 15%;
    margin-right: 2%;

    text-align: center;
}

.messages .message-metadata img
{
    display: block;

    margin: 0 auto 6px;
    margin-top:40px;
    position: relative;
}

.messages #send-reply .message-metadata img {
    margin-top: 20px;
}

.messages .message-content
{
    width: 70%;
    margin-left: 2%;
}

.messages .message-content-body {
    border: 1px solid #ECF0F1;
    background: #ECF0F1;
    border-radius: 6px;
    padding: 1.2em 20px 1.2em;
    display: inline-block;
    margin: 15px 0;
}


.messages .message-content p {
    margin-bottom: 15px;
}

.messages .message-content .activity,
.messages .message-content-sender{
    color: #95A5A6;
    font-size: 13px;
    margin-left: 20px;
}

.messages .message-box.new-message .message-content,
.messages .message-box.new-message .message-metadata,

.messages .message-box.sent-by-me .message-content,
.messages .message-box.sent-by-me .message-metadata{
    float: right;
    text-align: right;
}
/*new-message*/


.messages .message-box.new-message .message-content .message-content-body,
.messages .message-box.sent-by-me  .message-content .message-content-body {
    text-align: left;
    background: #9B59B6;
    color: #fff;
    border: 1px solid #8E44AD;
}

.messages .message-box.sent-by-me .activity{
    color: rgba(255,255,255,0.50);
}

.messages .message-content .activity{
    margin-left: 0;
}

.messages #send-reply
{
    
}
.messages .message-box
{
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

.buddypress #invite-list li,
.buddypress #invite-list ul
{
    margin: 0;

    list-style: none;
}

.buddypress #invite-list li
{
    display: inline-block;

    margin: 0 10px 10px 0;
    padding: 10px;

    color: #ecf0f1;
    border-bottom: 5px solid #c0392b;
    background: #e74c3c;
}

.buddypress #send-invite-form #friend-list
{
    margin: 20px 0;
}

.buddypress #send-invite-form #friend-list li
{
    display: inline-block;

    margin: 0 10px 10px 0;
}

.buddypress #send-invite-form #friend-list li h4
{
    font-size: 16px;
}

.buddypress.blogs li.last:first-child
{
    float: right !important;
}


.buddypress #blog-dir-count-bottom,
.buddypress #pag-top
{
    display: block;
    clear: both;

    margin: 16px 0 20px 0;
}

.buddypress #pag-top {
    display: none;
}

.buddypress #members-dir-list #pag-top
{
    margin: 10px 0 20px 0;
}

.buddypress #pag-bottom
{
    margin-top: 0;
}

.buddypress ul#blogs-list li,
.buddypress ul#blogs-list
{
    display: inline-block;

    width: 100%;
}

.buddypress ul#blogs-list li
{
    margin: 10px 0;
}

.buddypress #blogs-list li .item-avatar
{
    float: left;

    margin-right: 10px;
}

.buddypress #blog-dir-search
{
    clear: both;

    margin: 0 0 20px;
}

.buddypress #blog-dir-search label
{
    display: block;
    float: left;

    margin-right: 10px;
}

.buddypress #item-buttons a
{
    float: left;
    margin: 0 10px 10px 0;
    padding: 6px 10px;
    font-size: 14px;
}

.buddypress #message-threads .avatar
{
    width: 100%;
}

.buddypress #message-threads td.thread-info p
{
    margin: 0;
}
.buddypress #table#message-threads a
{
    text-decoration: underline;

    color: #ecf0f1;
}
#klein-user-nav-user-profile img
{
    float: left;

    margin-right: 10px;
}

.buddypress #whats-new-form
{
display: inline-block;
width: 100%;
margin-bottom: 25px;
background: #ECF0F1;
padding: 20px;
border-radius: 6px;
border: 1px solid #BDC3C7;
}
.buddypress .bp-klein-members-item
{
    display: inline-block;
}


.buddypress .ac-reply-avatar img.avatar
{
    width: 32px;
}

.buddypress #item-header-content .user-nicename
{
    margin-bottom: 5px;
}

.buddypress #item-header-content #item-meta
{
    display: inline-block;

    width: 100%;
}

.buddypress #item-header-content #latest-update,
.buddypress #item-header-content #item-buttons
{
    margin: 10px 0;
}

.buddypress #item-header-content #latest-update a 
{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    font-style: italic;
}

.buddypress .profile .button-nav {
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;
}

.buddypress .profile .button-nav li
{
    float: left;
    margin: 0;
    list-style: none;
    display: block;
}

.buddypress .profile .button-nav li a
{
    padding: 6px 12px;
    color: #bdc3c7; 
    border-color: #bdc3c7;
    border: 1px solid;
    margin-right: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.buddypress .profile .button-nav li.current a
{
   border-color: #27ae60;
   color: #27ae60; 
}

.buddypress .field-visibility-settings li
{
    list-style: none;
}

.buddypress.groups.forum #bbpress-forums h3
{
    font-size: 21px;

    margin-top: 14px;
}

#sitewide-notice
{
    position: fixed;
    z-index: 9999;
    top: 200px;

    width: 500px;
    height: auto;
    max-height: 500px;
    margin: 20px 32%;
    padding: 0 12px;

    background: #ecf0f1;
    box-shadow: 0 0 2px #444;
}
#sitewide-notice .info
{
    color: #444;
    background: #ecf0f1;
}

#sitewide-notice #close-notice
{
    font-weight: bold;

    display: block;

    margin-top: 20px;

    color: #e74c3c;
}

#register-page legend
{
    font-size: 13px;
}

#register-page ul li
{
    font-size: 12px;

    margin-bottom: 10px;
    margin-left: 0;
}

.buddypress #signup_submit
{
    margin-top: 20px;
}

.buddypress .messages #send-reply,
.buddypress .messages .message-box
{
    display: inline-block;

    width: 100%;
}

.buddypress #whats-new-submit,
.buddypress #whats-new-post-in-box
{
    float: right;
}

.buddypress #whats-new-post-in-box select#whats-new-post-in
{
    margin-right: 10px;
    float: right;
}


/*RT Media Fix*/
.activity-header,
.acomment-meta,
.activity-meta,
.acomment-options
{
    position: relative;

    display: block;
    clear: both;
}
/*RTMedia Basic Integration*/
body.klein #rtmedia-action-update
{
    float: left;
}
body.klein #buddypress #whats-new-options #rtmedia-add-media-button-post-update
{
    margin-top: 0;
    margin-right: 0;
}

/*RTMedia Edit Section*/
body.klein .rtmedia-container .rtmedia-editor-main .tabs-content .content,
body.klein .rtmedia-activity-container .rtmedia-editor-main .tabs-content .content,
body.klein #buddypress div.rtmedia-activity-container .rtmedia-editor-main .tabs-content .content,
/*RTMedia Edit Section End*/

.rtmedia-list {
    display: inline-block;
    margin: 15px 0!important;
    width: 100%;
}

.rtmedia-list-item {
    background: #ECF0F1;
    width: 300px;
    margin-right: 12px!important;
}

.rtmedia-list-item,
.rtmedia-activity-container a img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.rtmedia-list-item img {
    max-height: 125px;
}

body.klein .rtmedia-container .rtmedia-list .rtmedia-list-item.media-type-photo, 
body.klein .rtmedia-activity-container .rtmedia-list .rtmedia-list-item.media-type-photo, 
body.klein #buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item.media-type-photo {
    width: 162px;
    padding: 10px;
    margin-left: 0;
}

body.klein .rtmedia-container .rtmedia-item-title, 
body.klein .rtmedia-activity-container .rtmedia-item-title, 
body.klein #buddypress div.rtmedia-activity-container .rtmedia-item-title
{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #7F8C8D;
}
/*RTMedia Containers, alignment fix, etc... */


/*RTMedia Containers, alignment fix, etc... */
body.klein select#rtSelectPrivacy
{
    display: inline-block;
    float: left;

    width: 100px;
    margin-left: 10px;
}
body.klein .rtmedia-container .drag-drop
{
    padding: 20px;
}
body.klein .rtmedia-container.rtmedia-single-container .row
{
    background: none;
}
body.klein .rtmedia-container .row,
body.klein .rtmedia-activity-container .row,
body.klein  #buddypress div.rtmedia-activity-container .row
{
    max-width: 100%;
}
body.klein .rtmedia-container .rtmedia-list .rtmedia-list-item a h4,
body.klein .rtmedia-activity-container .rtmedia-list .rtmedia-list-item a h4,
body.klein #buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item a h4
{
    font-size: 12px;
    line-height: 100%;

    padding: 10px 20px 0 0;
}

body.klein .rtmedia-container .rtmedia-list {
    display: inline-block;
}

body.klein .rtmedia-container .rtmedia-list .rtmedia-list-item
{
    width: 170px;
    height: 200px;
}

body.klein .rtmedia-container .rtmedia_next_prev a {
    margin: 0;
}

body.klein .mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments {
    background: 0;
}

body.klein .bp-user-profile .rtmedia-container .rtmedia-list .rtmedia-list-item {
    height: auto;
    width: auto;
    margin-right: 20px!important;
margin-bottom: 20px;
}
/*RTMedia Skin*/
body.klein .rtmedia-container .drag-drop,
body.klein .rtmedia-activity-container .drag-drop,
body.klein #buddypress div.rtmedia-activity-container .drag-drop
{
    color: #3a3a3a;
    border: 4px dashed #f1f0f0;
}
/*RTMedia bootstrap css naming class collision*/
body.media
{
    margin-top: 0;
}
/*RTMedia Audio Format Fix in Activity Stream*/
body.klein .mejs-container .mejs-controls .mejs-time
{
    height: 20px;
}
body.klein .mejs-duration,
body.klein .mejs-currenttime
{
    font-size: 10px!important;
}
/*RTMedia Video Format*/
body.klein #buddypress div.rtmedia-activity-container ul.rtmedia-list li.media-type-video .rtmedia-item-thumbnail
{
    margin: 1px;
}

/**
 * Fixes for radio buttons
 * added in 2.0.8 version of the theme
 *
 * @author dunhakdis <http://dunhakdis.me>
 * @version 2.0.8
 * @package Klein 2.0.8
 *
 */
body.klein .radio label,
body.klein .checkbox label
{
    display: block;
}

.forgetmenot {
    margin-bottom: 20px;
}

#bp_core_login_widget-2 {
    background: #ECF0F1;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
#bp_core_login_widget-2 label{
    font-style: italic;
    font-weight: 400;
}
#bp-login-widget-form:after{
    content:" ";
    clear: both;
    display: block;

}

#bp-login-widget-submit,
.bp-login-widget-register-link {
    float: right;
}
.bp-login-widget-register-link {
    margin-right: 10px;
}

.buddypress-wrap {
    padding-top: 35px;
}


.buddypress-head {
    background-color: #95A5A6;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    padding: 6em 0;
}

.buddypress-head:after {
    content: " ";
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.buddypress-head .content {
    position: relative;
    z-index: 2;
}

.buddypress-head .content .user-nicename{
    margin-right: 20px;
}

.buddypress-head .content h1 {
    font-size: 23px;
    line-height: 1;
    margin-bottom: 10px;
}

#group-create-nav {
    display: none;
}

#pass-strength-result {
    margin-bottom: 20px;
    padding: 8px 20px;
    border: 1px solid #2ECC71;
    border-left-width: 20px;
}

#pass-strength-result.short{
    border-color: #E74C3C;
    color: #C0392B;
}

#pass-strength-result.bad{
    border-color: #E67E22;
    color: #D35400;
}

#pass-strength-result.good{
    border-color: #3498DB;
    color: #2980B9;
}

#pass-strength-result.strong{
    border-color: #2ECC71;
    color: #27AE60;   
}

#group-admins,
#group-mods {
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
}

@media (max-width: 992px ) {
    .buddypress #primary #friend-list li, .buddypress #members-group-list #member-list li, .buddypress #primary #groups-list li, .buddypress #primary #members-list li 
    {
        width: 48%;
        margin-left: 1%;
    }

    #secondary 
    {
        margin-top: 25px;
    }
}
@media (max-width: 768px ) {
    .buddypress #primary #friend-list li, .buddypress #members-group-list #member-list li, .buddypress #primary #groups-list li, .buddypress #primary #members-list li 
    {
        width: 100%;
        margin-left: 0;
    }

    .item-list-tabs.activity-type-tabs,
    .item-list-tabs#object-nav {
        margin-bottom: 0;
    }

    .item-list-tabs.activity-type-tabs li,
    .item-list-tabs#object-nav li {
        float: none;
    }
    
    .item-list-tabs.activity-type-tabs li a,
    .item-list-tabs#object-nav li a{
       padding: 10px 0;
    }

    .item-list-tabs#subnav li#activity-filter-select {
        margin-top: 5px;
    }

    .item-list-tabs.activity-type-tabs li:first-child a,
    .item-list-tabs#subnav li:first-child a
    {
        padding-left: 10px;
    }

    .item-list-tabs.activity-type-tabs li a,
    .item-list-tabs#subnav li a {
        padding: 10px;
    }

    .buddypress #whats-new-post-in-box select#whats-new-post-in {
        margin-bottom: 0;
        margin-top: 30px;
    }

    .buddypress #item-buttons {
        display: inline-block;
        width: 75%;
        text-align: center;
        margin-top: 35px;
    }
     
}

