/*------------------------------------------------*
 * 3.0 PROGRESS BARS
 *------------------------------------------------*/
.vc_progress_bar .vc_single_bar .vc_label {
	display: inline-block;
	background: $primary;
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	margin: 10px;
	color: $cloud;
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}