/*------------------------------------------------*
 * 3.0 SEPARATOR
 *------------------------------------------------*/
.vc_separator.vc_separator_align_center h4{
	padding: 10px 20px;
	background: $cloud;
	font-weight: normal;
	font-style: italic;
}