/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{background:#fff;line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
/* remember to define focus styles! */
:focus{outline:0;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}
a img{border:none;}
/* forms - used to be cssforms.css now all are css */
/* if supported in browser enables rounding of form elements */
form .form-field{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
form .form-submit{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
input[type="button"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#letter-list li{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#member-wrapper textarea,#registration-wrapper textarea,#sidebar textarea,#member-content textarea,#forum-topic-form textarea{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
a.comment-reply-link,.button,#member-wrapper input[type="submit"],#registration-wrapper input[type="submit"],#sidebar input[type="submit"],#member-content input[type="submit"],#forum-topic-form input[type="submit"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#member-wrapper input[type="text"],#registration-wrapper input[type="text"],#sidebar input[type="text"],#member-content input[type="text"],#forum-topic-form input[type="text"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#member-wrapper input[type="search"],#registration-wrapper input[type="search"],#sidebar input[type="search"],#member-content input[type="text"],#forum-topic-form input[type="search"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#member-wrapper input[type="password"],#registration-wrapper input[type="password"],#sidebar input[type="password"],#member-content input[type="password"],#forum-topic-form input[type="password"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#member-wrapper select,#registration-wrapper select,#registration-wrapper select,#member-content select,#forum-topic-form input select{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#post-wrapper textarea{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#post-wrapper input[type="submit"],#post-wrapper input[type="reset"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#post-wrapper input[type="text"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#post-wrapper input[type="search"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#post-wrapper input[type="password"]{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#post-wrapper select{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
/* form css */
label{padding-right:10px;}
form .form-field{padding:3px;margin-right:5px;width:100px;}
#header-search-form .form-field{width:230px;}
form .form-submit,input[type="button"]{padding:2px;}
.button{padding:3px;}
#post-wrapper textarea{padding:3px;width:90%;height:100px;margin-bottom:10px;}
form .description{clear:both;}
#post-wrapper input[type="submit"],#post-wrapper input[type="reset"]{text-decoration:none;padding:3px 5px;margin:10px 0px 0px;}
#post-wrapper input[type="text"]{padding:3px;width:90%;margin:5px 0px 0px;}
#post-wrapper input[type="search"]{padding:3px;width:60%;margin:5px 0px 0px;}
#post-wrapper input[type="password"]{padding:3px;width:25%;margin:5px 0px 0px;}
#post-wrapper select{padding:3px;width:50%;margin:5px 0px 0px;}
#post-wrapper label{display:block;margin:10px 0px;padding-right:10px;float:left;width:100%;}
#sidebar textarea,#member-wrapper textarea,#registration-wrapper textarea,#member-content textarea,#forum-topic-form textarea{padding:3px;width:95%;height:100px;margin-bottom:10px;}
#member-wrapper input[type="submit"],#registration-wrapper input[type="submit"],#sidebar input[type="submit"],#forum-topic-form input[type="submit"]{text-decoration:none;padding:3px 5px;margin:10px 0px 0px;}
#member-wrapper input[type="text"],#registration-wrapper input[type="text"],#sidebar input[type="text"],#forum-topic-form input[type="text"]{padding:3px;width:90%;margin:5px 0px 0px;}
#member-wrapper input[type="search"],#registration-wrapper input[type="search"],#sidebar input[type="search"],#forum-topic-form input[type="search"]{padding:3px;width:60%;margin:5px 0px 0px;}
#member-wrapper input[type="password"],#registration-wrapper input[type="password"],#sidebar input[type="password"],#forum-topic-form input[type="password"]{padding:3px;width:25%;margin:5px 0px 0px;}
#member-wrapper select,#registration-wrapper select,#sidebar select,#forum-topic-form input select{padding:3px 5px;width:60%;margin:5px 0px 0px;}
#member-wrapper label,#registration-wrapper label,#sidebar label,#forum-topic-form label{display:block;margin:10px 0px 5px 0px;padding-right:10px;float:left;width:100%;}
#sidebar form{margin:10px 0px;}
form.standard-form a.clear-value{display:block;margin-top:5px;outline:none;}
.profile form{clear:both;padding-bottom:10px;}
.ac-reply-avatar{margin-bottom:10px;}
/* global / default styling for elements */
.alignleft{float:left}
.alignright{float:right;}
blockquote{margin:10px;padding:10px;}
.cancel-comment-reply{margin-bottom:10px;}
#cf{margin:0px 0px 10px;padding:10px;width:90%;clear:both;}
#cf label{font-size:12px;margin:0px;padding:0px;}
#cf a{text-decoration:underline;}
#cf p{margin:10px 0px 20px;padding:0px;}
#cf .tf{margin:0px;padding:5px 10px;width:55%;}
#cf .af{margin:0px;padding:5px 10px;width:95%;height:200px;}
#cf .st{margin:0px;padding:5px 10px;width:auto;overflow:visible;}
#cf .tinput{padding:5px 10px;margin:0px;text-decoration:none;overflow:visible;}
.avb{padding-bottom:10px;}
#commentpost{margin:0px;padding:5px;float:left;width:96%;}
#commentpost h4{margin:10px 0px 10px;padding:0px 0px 10px;float:left;width:100%;}
.date{position:bottom;padding:5px 10px;margin-bottom:10px;}
div.aligncenter{display:block!important;margin:0px auto;}
div.alignleft{float:left!important;margin-right:10px;}
div.alignright{float:right!important;margin-right:0px;margin-left:10px;}
dt{margin-bottom:5px;margin-top:0px;}
dd{margin-bottom:5px;margin-left:0px;}
.feature-title h4{border-bottom:none;padding-bottom:0px;margin-bottom:0px;}
h3{padding-bottom:10px;}
h4{padding-bottom:10px;margin-bottom:10px;}
h4 a,h4 a:link,h4 a:hover,h4 a:visited{text-decoration:none;}
img{border:0px;outline:none;}
img.centered{display:block;margin-left:auto;margin-right:auto;}
img.alignright{padding:5px;margin:0px 0px 5px 5px;float:right;}
img.alignleft{padding:5px;margin:0px 5px 5px 0px;float:left;}
#linking li{margin:0px 0px 10px;padding:0px;float:left;width:100%;font-size:12px;}
#linking li a{text-decoration:underline;}
.members-images-side img{float:left;margin:0px 10px 10px 0px;}
ol.commentlist{list-style-type:none;margin:0px;padding:10px 0px;float:left;width:100%;}
ol.commentlist blockquote{margin:0px 0px 10px;padding:10px 0px 10px 10px;clear:both;}
ol.commentlist blockquote blockquote{margin:10px 0px 10px 10px;}
ol.commentlist li{height:1%;margin:0 0 10px;padding:10px 10px 10px 10px;position:relative;}
ol.commentlist li.alt{}
ol.commentlist li.bypostauthor{}
ol.commentlist li.byuser{}
ol.commentlist li.comment-author-admin{}
ol.commentlist li.comment{}
ol.commentlist li div.comment-author{padding:0 170px 0 0;}
ol.commentlist li div.vcard{}
.fn a{text-decoration:underline;}
ol.commentlist li div.vcard cite.fn a.url{text-decoration:underline;}
ol.commentlist li div.vcard img.avatar{left:0px;position:relative;top:10px;padding:5px;margin-right:10px;margin-bottom:10px;}
ol.commentlist li div.vcard img.avatar-32{}
ol.commentlist li div.vcard img.photo{height:32px;width:32px;}
ol.commentlist li div.vcard span.says{}
ol.commentlist li div.commentmetadata{}
ol.commentlist li div.comment-meta{position:absolute;right:21px;text-align:right;top:18px;margin-bottom:20px;}
ol.commentlist li div.comment-meta a{text-decoration:none;}
ol.commentlist li p{margin:10px 0 0px;font-size:12px;}
ol.commentlist li p a{text-decoration:underline;}
ol.commentlist li ul{list-style:square;margin:0px 0px 10px;padding:0px;}
ol.commentlist li div.reply{width:36px;line-height:1;margin-bottom:20px;margin-top:10px;}
ol.commentlist li div.reply a{display:block;height:15px;width:35px;padding:1px;}
ol.commentlist li div.reply a:hover{text-decoration:underline;padding:1px;display:block;height:15px;width:35px;}
ol.commentlist ul.children{list-style:none;margin:10px 0px 0px 10px;}
ol.commentlist ul.children li{margin-left:10px;}
ol.commentlist li ul.children li.alt{}
ol.commentlist li ul.children li.bypostauthor{}
ol.commentlist li ul.children li.byuser{}
ol.commentlist li ul.children li.comment{}
ol.commentlist li ul.children li.comment-author-admin{}
ol.commentlist li ul.children li.depth-2{margin:0 0 5px;}
ol.commentlist li ul.children li.depth-3{margin:0 0 5px;}
ol.commentlist li ul.children li.depth-4{margin:0 0 5px;}
ol.commentlist li ul.children li.depth-5{}
ol.commentlist li ul.children li.odd{}
ol.commentlist li.even{}
ol.commentlist li.odd{}
ol.commentlist li.parent{}
ol.commentlist li.pingback{}
ol.commentlist li.pingback.parent{}
ol.commentlist li.pingback div.vcard{padding:0 170px 0 0;}
ol.commentlist li.thread-alt{}
ol.commentlist li.thread-even{}
ol.commentlist li.thread-odd{}
ol.commentlist li em{padding-top:10px;}
ol.pinglist{margin:0px 0px 10px;padding:0px;float:left;width:100%;list-style-type:none;}
ol.pinglist li{margin:0px;padding:0px;float:left;width:100%;}
ol.pinglist li a{text-decoration:none;display:block;margin:0px;padding:5px;float:left;width:88%;}
ol.pinglist li a:hover{text-decoration:underline!important;display:block;margin:0px;padding:5px;float:left;width:88%;}
p img{padding:0;max-width:100%;}
.post{padding-bottom:10px;margin-bottom:10px;width:100%;}
.post img{}
.post-image{height:110px;width:280px;background-color:#000000;}
.post h1{padding:10px 0px;}
.post li,#links-list li{margin-bottom:5px;margin-left:0px;}
#post-navigator{margin:10px 0px;padding:0px;float:left;width:100%;}
#post-navigator-single{margin:10px 0px;padding:0px;float:left;width:100%;}
#post-navigator .current{padding:4px 8px;margin-left:4px;text-decoration:none;}
#post-navigator a{padding:4px 8px;margin:0px 0px 0px 3px;text-decoration:none;}
#post-navigator a:hover{padding:4px 8px;margin:0px 0px 0px 3px;text-decoration:none;}
#post-navigator-single .alignleft{margin:0px;padding:0px;float:left;width:45%;overflow:hidden;}
#post-navigator-single .alignright{margin:0px;padding:0px;float:right;width:45%;overflow:hidden;}
#post-navigator-single a{text-decoration:none;}
#post-navigator-single a:hover{text-decoration:underline;}
p.form-submit{border:none;}
.post p{padding-bottom:10px;}
.post ul,.post ol{margin:10px 20px;}
.post ul{list-style:circle;}
.post li{padding:10px;}
#links-list ul{margin-bottom:5px;margin-top:0px;}
pre{margin:10px 0px;padding:10px;clear:both;overflow:scroll;}
#respond{margin:0px;padding:0px;width:100%;}
#respond a{text-decoration:underline;}
#rss-com{margin:0px;padding:0px 0px 10px;float:left;width:100%;}
#rss-com p{margin:0px;padding:0px;float:left;}
#rss-com p a{display:inline-block;margin:0px 10px 0px 0px;padding:10px 10px;float:left;text-decoration:underline;}
#rss-com p a:hover{display:inline-block;margin:0px 10px 0px 0px;padding:10px 10px;float:left;text-decoration:none;}
.sidebar-section{padding-bottom:10px;clear:both;}
#sidebar table{width:100%;text-align:center;}
tr,th,td{padding:5px;}
#sidebar ol,#sidebar ul{padding-bottom:10px;list-style-type:none;}
#sidebar li{padding-bottom:10px;}
.wp-caption{padding:5px;margin-top:10px;margin-bottom:10px;}
.wp-caption img{margin:0;padding:0;border:0 none;}
.wp-caption p.wp-caption-text{padding:5px;margin:0;}
.wp-pagenavi{float:left;width:100%;margin:0px;padding:10px;}
.wp-pagenavi .pages{font-size:12px;padding:5px 8px;margin-right:5px;}
.tags{padding-left:10px;}
/* layout and structure */
body{width:960px;margin-left:auto;margin-right:auto;text-align:center;}
.clear{clear:both;}
.clear-left{clear:left;}
.clear-right{clear:right;}
#content{float:left;width:550px;padding-left:20px;padding-bottom:20px;}
#content-fullwidth{width:940px;padding-bottom:0px 10px 20px 10px;}
#content-about-site{margin-left:620px;padding:10px;height:198px;}
.content-feature-post{float:left;width:600px;height:220px;}
#content-wrapper{padding:0px;margin:0px;}
.featured-image{margin-left:auto;margin-right:auto;text-align:center;}
#featured-post-section{padding:20px 0px;margin:10px 0px 0px 0px;}
.feature-title{width:580px;padding:10px;}
#header{height:70px;}
#header-login-section{float:left;width:600px;}
#header-login-form,#header-search-form{padding:30px 0px 0px 0px;}
#header-search-section,#sidebar{float:right;width:220px;padding-right:20px;}
.hide{display:none;}
#member-content #content{float:left;width:680px;padding-left:20px;}
.navigation{margin-bottom:20px;}
.post-block{float:left;width:280px;padding-left:20px;height:410px;}
#post-list{width:600px;float:left;}
#post-wrapper{padding:20px 0px;margin:0px;}
#section-marker{float:left;padding:30px 20px 20px 20px;margin-right:20px;width:40px;}
#sidebar{padding-bottom:20px;}
#site-description{clear:both;padding:20px 0px;}
#site-description img{float:left;margin-left:10px;border:none;}
#site-strapline{float:right;width:220px;font-size:14px;padding:10px 20px 10px 0px;}
.widget-error{padding:10px;}
/* > Pagination
-------------------------------------------------------------- */
div.pagination{padding:10px 20px 10px 20px;height:16px;}
div.pagination#user-pag,.friends div.pagination,
.mygroups div.pagination,.myblogs div.pagination,noscript div.pagination{border:none;padding:8px 15px;}
div.pagination .pag-count{float:left;}
div.pagination .pagination-links{float:right;}
div.pagination .pagination-links span,
div.pagination .pagination-links a{padding:0 5px;}
div#pag-bottom{margin-top:0;}
ul#group-admins li{list-style:none;}
form#whats-new-form textarea{width:100%;height:50px;}
.activity-list .activity-avatar img{width:50px;height:50px;}
ul.item-list li{position:relative;padding:0px 0 0px;}
table.forum{clear:left;}
/* using javascript on and javascript off capable suckerfish menus */
.sf-menu,.sf-menu *{margin:0;padding:0;list-style:none;z-index:999;}
.sf-menu{line-height:1.0;}
.sf-menu ul{position:absolute;top:-999em;width:10em;/* left offset of submenus need to match (see below) */}
.sf-menu ul li{width:100%;}
.sf-menu li:hover{visibility:inherit;/* fixes IE7 'sticky bug' */}
.sf-menu li{float:left;position:relative;}
.sf-menu a{display:block;position:relative;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul{left:0;top:2.9em;/* match top ul list item height */
z-index:99;}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul{top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul{left:10em;/* match ul width */
top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul{top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul{left:10em;/* match ul width */
top:0;}
/*** DEMO SKIN ***/
.sf-menu{float:left;margin-bottom:1em;}
.sf-menu a{padding:0.9em 1em;text-decoration:none;}
.sf-menu li:hover,.sf-menu li.current,.sf-menu li.current a:visited,.sf-menu li.current_page_item,.sf-menu li.current_page_item a:visited,.sf-menu li.sfHover,
.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active{outline:0;}
/*** arrows **/
.sf-menu a.sf-with-ul{padding-right:2.25em;min-width:1px;/* trigger IE7 hasLayout so spans position accurately */}
.sf-sub-indicator{position:absolute;display:block;right:.75em;top:1.05em;/* IE6 only */
width:10px;height:10px;text-indent:-999em;overflow:hidden;background:url('../images/arrows-ffffff.png') no-repeat -10px -100px;/* 8-bit indexed alpha png. IE6 gets solid image only */}
a > .sf-sub-indicator{/* give all except IE6 the correct values */
top:.8em;background-position:0 -100px;/* use translucent arrow for modern browsers*/}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator{background-position:-10px -100px;/* arrow hovers for modern browsers*/}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator{background-position:-20px 0;}
.sf-menu ul a > .sf-sub-indicator{background-position:0 0;}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator{background-position:-10px 0;/* arrow hovers for modern browsers*/}
/*** shadows for all but IE6 ***/
.sf-shadow ul{background:url('../images/shadow.png') no-repeat bottom right;padding:0 8px 9px 0;-moz-border-radius-bottomleft:17px;-moz-border-radius-topright:17px;-webkit-border-top-right-radius:17px;-webkit-border-bottom-left-radius:17px;}
.sf-shadow ul.sf-shadow-off{background:transparent;}
/* styles for slider feature using s3slider */
.bottom{bottom:0;left:0;}
.bottom h4{border-bottom:none;}
#slider{width:600px;/* important to be same as image width */
height:220px;/* important to be same as image height */
position:relative;/* important */
overflow:hidden;/* important */
background-color:#000000;}
#sliderContent{width:600px;/* important to be same as image width or wider */
position:absolute;top:0;margin-left:0;background-color:#000000;}
.sliderImage{float:left;position:relative;display:none;}
.sliderImage span{position:absolute;font-size:18px;padding:0px;width:560px;background-color:#222222;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9;color:#AAAAAA;display:none;padding:10px 20px;}
.sliderImage span strong{font-size:14px;}
.top{top:0;left:0;}
ul{list-style-type:none;}
/* typgraphy specific css */
blockquote,blockquote p{line-height:20px;font-weight:normal;font-style:italic;}
body{font-size:small;font-weight:normal;}
.cancel-comment-reply{font-size:11px!important;}
#cf label{font-size:12px;}
#cf small{font-size:11px;}
#cf .tf{font-size:12px;line-height:18px;}
#cf .af{font-size:12px;line-height:18px;}
#cf .st{font-size:14px;}
#cf .tinput{font-size:12px;font-weight:bold;line-height:18px;}
code{font-family:"Courier New","MS Sans Serif",sans-serif,serif;font-size:12px;}
#content-about-site p{font-size:12px;line-height:20px;}
.content-header{font-size:18px;}
.content-header a,.content-header a:link,.content-header a:visited,.content-header a:hover{font-size:12px;}
.content-header-nav .current a{font-size:12px;}
#content-wrapper{text-align:left;}
#commentpost h4{font-size:14px;line-height:20px;}
dt{font-weight:bold;font-size:14px;}
dd{font-style:italic;font-size:14px;}
em{font-style:italic;font-weight:normal;}
#featured-post-section{text-align:left;}
.feature-title h4{font-size:14px;font-weight:normal;}
form .form-submit{font-weight:bold;}
.generic-button a{font-weight:bold;}
h1{font-size:24px;font-weight:normal;padding-left:10px;}
h2{font-size:18px;font-weight:normal;}
h3{font-size:16px;font-weight:normal;}
h4{font-size:14px;font-weight:normal;}
.bottom h4 a:link,.bottom h4 a,.bottom h4 a:hover,.bottom h4 a:visited{text-decoration:none;}
h5{font-size:12px;font-weight:normal;}
h6{font-size:11px;font-weight:normal;}
h4.pagetitle,.post h4{font-size:18px;}
#header{text-align:left;}
img.centered{text-align:center;}
label{font-size:14px;}
#linking li a{font-size:12px;font-weight:bold;}
#member-content ul.horiz-gallery li{text-align:center;font-size:12px;line-height:16px;}
.gallery-caption{}
#member-content #message{font-size:14px;}
#member-wrapper textarea,#registration-wrapper textarea{font-size:12px;}
#member-wrapper input[type="submit"],#registration-wrapper input[type="submit"]{font-weight:bold;}
#member-wrapper label,#registration-wrapper label{font-size:14px;}
#member-wrapper,#registration-wrapper{text-align:left;}
.navigation ul{font-size:14px;}
.navigation{text-align:left;}
ol.commentlist{text-indent:0px;}
ol.commentlist blockquote{font-size:14px;line-height:20px;font-weight:bold;font-style:italic;letter-spacing:normal;word-spacing:normal;}
ol.commentlist li div.vcard{font-size:14px;line-height:20px;}
ol.commentlist li div.vcard cite.fn{font-style:normal;}
ol.commentlist li div.comment-meta{text-align:right;font-size:10px;line-height:14px;}
ol.commentlist li p{font-size:12px;line-height:18px;}
ol.commentlist li ul{text-indent:0px;font-size:12px;font-style:normal;line-height:18px;font-weight:normal;font-variant:normal;}
ol.commentlist li div.reply{text-align:center;font-size:11px;line-height:1px;}
ol.commentlist li div.reply a{font-weight:bold;line-height:15px;}
ol.commentlist li div.reply a:hover{line-height:15px;}
ol.commentlist li ul.children{text-indent:0px;}
ol.pinglist li a{font-size:12px;line-height:18px;}
ol.pinglist li a:hover{font-size:12px;line-height:16px;}
p{font-weight:normal;font-size:12px;line-height:18px;}
p.form-submit{font-weight:normal;}
.post ul,.post ol,#links-list ul{font-weight:bold;font-size:14px;}
.post li,#links-list li{font-size:14px;}
#post-navigator-single{font-size:12px;}
#post-navigator-single .alignright{text-align:right;}
#post-wrapper{text-align:left;}
#post-wrapper input[type="submit"],#post-wrapper input[type="reset"]{font-weight:bold;}
#post-wrapper label{font-size:14px;}
pre{font-family:"Courier New","MS Sans Serif",sans-serif,serif;font-size:12px;line-height:18px;white-space:nowrap;}
.profile-fields .label{font-size:14px;}
#rss-com p a{font-size:14px;}
#rss-com p a:hover{font-size:14px;}
#section-marker{font-size:14px;}
#site-description{text-align:left;}
ul#letter-list li a,#post-wrapper textarea,#linking li,#member-content .info p,#member-content .error p,#member-content .updated p{font-size:12px;}
.wp-caption{text-align:center;}
.wp-caption p.wp-caption-text{font-size:12px;line-height:18px;}
.wp-pagenavi .pages{font-size:12px;}
body.activity-permalink #member-sidebar{
	display: none;
}
body.activity-permalink .activity-list li .activity-content {
background: none;
border-bottom: none;
border-right: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-size: 16px;
line-height: 150%;
}
ul#topic-post-list li {
padding: 10px 0px;
position: relative;
}
ul#topic-post-list li.alt {
background: #222222;
}
ul.item-list li {
border-bottom: 1px solid #333333;
}


/* 87274-1410478534-ai */