/*------------------------------------------------------------------
  [10. Archives]
-------------------------------------------------------------------*/

/** Search */
.search .page .archive-excerpt 
{
    display: none;

}

.search {
    h3 a{
        color: $dark_blue;
    }
}  

/*Archives
----------- */
 

.archive-excerpt {
    margin: 40px 0 20px 0;
}

.archive-excerpt.row {
    margin-left: -15px;
    margin-right: -15px;
}


.archive .hentry,
.search .hentry,
.blog .hentry{
        margin-bottom: $baseLine + px;
        max-width: 100%;
    }


.blog-list
{
    padding-bottom: 35px;

    border-bottom: 1px solid #ecf0f1;
}

.blog-list:hover .readmore
{
    margin-right: 0;

    opacity: 1;
}

.klein-blog-article-list:last-child .blog-list
{
    border-bottom: 0;
}

.blog-list .wp-post-image
{
    border: 1px solid #ecf0f1;
}


.archive-entry-author img.avatar
{
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.archive-entry-author .readmore
{
    position: relative;
    top: 8px;
    left: 25px;

    display: inline-block;

    -webkit-transition: all .25s ease-in;
       -moz-transition: all .25s ease-in;
            transition: all .25s ease-in;

    opacity: 0;
}

.archive-entry-author .by-label,
.archive-entry-author .archive-date
{
    font-style: italic;

    color: #bdc3c7;
}
.archive-entry-author .archive-date
{
    margin-top: -5px;
}

.archive-entry-author .author-avatar img.avatar
{
    max-width: 48px;
    margin-right: 10px;
}

.klein-carousel {
    max-width: 750px;
    margin: 0 auto;
}