/*------------------------------------------------------------------
  [9. Blogs]
-------------------------------------------------------------------*/

.sticky h3 {
    padding-top: 35px;
}

.sticky:after
{
    position: relative;
    top: 40px;

    display: block;

    width: 100%;
    height: 36px;

    content: ' ';

    background:         linear-gradient(#ECF0F1 0%, transparent 0%), linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0, #ffffff linear-gradient(45deg, #ffffff 33.33%, #ECF0F1 33.33%) 0 0;
    background: -webkit-linear-gradient(#ECF0F1 0%, transparent 0%), -webkit-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0, #ffffff -webkit-linear-gradient(45deg, #ffffff 33.33%, #ECF0F1 33.33%) 0 0;
    background:      -o-linear-gradient(#ECF0F1 0%, transparent 0%), -o-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0, #ffffff -o-linear-gradient(45deg, #ffffff 33.33%, #ECF0F1 33.33%) 0 0;
    background:    -moz-linear-gradient(#ECF0F1 0%, transparent 0%), -moz-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0, #ffffff -moz-linear-gradient(45deg, #ffffff 33.33%, #ECF0F1 33.33%) 0 0;
    background-repeat: repeat-x;
    background-size: 0 100%, 9px 27px, 9px 27px;
}

.sticky{
    background: #ECF0F1;
  
}

.sticky .archive-excerpt,
.sticky .archive-entry-author,
.sticky h3{
    padding-left: 35px;
    padding-right: 35px;
}

.author-about .avatar{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.author-about {
    margin-top: 35px;
    margin-bottom: 35px;
}

.entry-meta {
    font-style: italic;
    font-size: 14px;
    margin: 35px 0;
}    

.klein-blog-article-list{
	margin-bottom: 20px;

	h3 a {
		color: $dark_blue;
		@include tMeasure(18);
	}
}

.klein-blog-article-list:last-child article.blog-list{
    border-bottom: 0;
}

.article-sharer {
    display: inline-block;
    margin-bottom: 10px;
    padding: 12.5px 40px;
    width: 100%;
    text-align: center;
    background: $primary;
    color: $white;
    @include animate(opacity, 0.15s, ease-in-out);

    &:focus,
    &:hover {
        color: $white;
        opacity: 0.9;
    }
    &.fb{
        background: #46639F;
    }
    &.twitter{
        background: #58a9f0;
    }
    &.google{
        background: #dc4b36;
    }
}