/*------------------------------------------------------------------
  [1. Colors]
-------------------------------------------------------------------*/
$white: #ffffff;

$blue_green: #1ABC9C;
$blue_green_shade: #16A085;

$green: #2ECC71;
$green_shade: #27AE60;

$blue: #3498DB;
$blue_shade: #2980B9;

$violet: #9B59B6;
$violet_shade: #8E44AD;

$dark_blue: #34495E;
$dark_blue_shade: #2C3E50;

$yellow: #F1C40F;
$yellow_shade: #F39C12;

$orange: #E67E22;
$orange_shade: #D35400;

$red: #E74C3C;
$red_shade: #C0392B;

$cloud: #ECF0F1;
$cloud_shade: #BDC3C7;

$grey: #95A5A6;
$grey_shade: #7F8C8D;

/*Implementation*/

$primary: $green;
$primary-shade: $green_shade;

/*Classes*/

.fg-white {
	color: $white;
}

.fg-cloud {
	color: $cloud;
}