/*------------------------------------------------------------------
  [14. Extras]
-------------------------------------------------------------------*/

$color_azure_approx: #3b5a9b;

.klein {
    #loginform {
        display: inline-block;
        width: 100%;
        padding-top: 30px;
        
        #user_login {
            width: 100%;
        }
        #user_pass {
            width: 100%;
        }
        .login-username {
            margin-bottom: 10px;
        }
        .login-password {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
    .login-remember {
        display: inline-block;
        float: left;
        clear: both;
        margin-right: 20px;
        label {
            margin-top: 5px;
        }
    }
    .login-submit {
        display: inline-block;
        float: right;
    }
    .login-facebook-connect {
        float: right;
        margin-right: 20px;
        .btn {
            margin-top: 0;
            padding: 6px 10px;
            background: $color_azure_approx;
        }
    }
}


/* IE Placeholder Polyfill Support
================ */
span.placeholder
{
    font-family: sans-serif;

    position: absolute;
    z-index: 1;

    padding: 2px;

    cursor: text;

    color: #999;
}

span.placeholder-hide-except-screenreader
{
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;

    border: 0 !important;
}

span.placeholder-hide
{
    display: none;
}

/* overwrite for the HTML5 Boilerplate way to hide labels */
label.visuallyhidden-with-placeholder
{
    position: absolute !important;
    left: -999em;

    overflow: visible !important;
    /*clip: auto !important;*/

    height: auto !important;
}
/* Jetpack 
================= */
.slideshow-window
{
    margin-bottom: 0!important;

    border: 1px solid #cloud!important;
    -webkit-border-radius: 0!important;
       -moz-border-radius: 0!important;
            border-radius: 0!important;
    background-color: $cloud!important;

    -khtml-border-radius: 0!important;
}

.social-connect-column {
    border-right: 1px solid $cloud;
    padding: 0 20px 75px;

}
a.social-connect.btn{
    background-color: #3a5795;
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
}

a.social-connect.btn.gp {
    background-color: #dd4b39;
}
a.social-connect.btn.tw {
    background-color: #55acee;
}

.content-sharer .caption {
    font-size: 24px;
    line-height: 1;
    margin: 12px 0 0;
    display: inline-block;
    color: $cloud_shade;
}

.content-sharer{
    margin: 35px 0;
    background: $cloud; 
    padding: 35px 35px 30px 35px;
}