/*------------------------------------------------------------------
  [13. Footer]
-------------------------------------------------------------------*/

#footer-widgets {
	input,
	select {
		color: $dark_blue;
	}

	.widget_categories li:before,
    .widget_recent_comments li:before,
    .widget_meta li:before,
    .widget_pages li:before,
    .widget_recent_entries li:before,
    .widget_rss li:before,
    .widget_archive li:before
    {
    	color: rgba(0, 0, 0, 0.15);
    }
}

footer.entry-meta.single
{
    margin-top: 1em;
    padding-top: 1em;

    border-top: 1px solid #ddd;
}
footer.entry-meta .comments-link,
footer.entry-meta .edit-link,
footer.entry-meta .tags-links,
footer.entry-meta .cat-links
{
    display: inline-block;
}

#kleinScrollToTop{
	background: rgba(255,255,255, 0.70);
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: fixed;
	z-index: 9999;
	bottom: 7%;
	right: 3.5%;
	text-align: center;
	color: $dark_blue;
	display: none;
	font-size: 30px;

	&:hover {
		background: rgba(255,255,255, 1);	
	}
}

#footer {
    padding: 1em;
    background: #2C3E50;
}

#footer,#footer a {
    color: #ECF0F1;
}