/*------------------------------------------------------------------
  [4. General]
-------------------------------------------------------------------*/

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

*:active, *, *:focus, a, a:focus, a:active {
    outline: 0;
}

::selection {  
    /* Safari */
    background: $violet;
    color: $cloud;

}

::-moz-selection {
    /* Firefox */
    background: $violet; 
    color: $cloud;
}

body {
    background-color: #e8e8e8; 
}

iframe
{
    max-width: 100%;
}

strong
{
    font-weight: 600;
}

small
{
    font-size: 85%;
}

hr
{
    clear: both;

    height: 0; 
    margin: 35px 0;

    border: solid $cloud_shade;
    border-width: 1px 0 0;
}

/** Data List **/

dl
{
    display: block;
}
dl dt
{
    margin-left: 5px;
}
dl dd
{
    margin-bottom: 35px; 
    margin-left: 25px;
}

/** Tables **/
table
{
    width: 100%;
    margin-bottom: $baseLine+px;

    border: 1px solid $cloud_shade;
}

table th
{
  
    font-weight: normal;
    font-style: italic; 

    padding: 10px 20px;
}
table td
{
    padding: 10px 20px;

    border: 1px solid #bdc3c7;
}


tr:nth-child(even)
{
    background: #ecf0f1;
}
tr:nth-child(odd)
{
    background: #fff;
}

table tfoot td
{
   
    font-style: italic;
    border: none;
}


/** BlockQuotes **/
blockquote
{
    position: relative;
    border-left: 0;
    margin: 35px 35px 35px 35px;
}

blockquote cite
{
    font-size: 15px;

    display: block;
    float: right;

    color: $cloud_shade;
}

blockquote cite:after
{
    display: block;
    clear: both;

    width: 100%;

    content: ' ';
}

blockquote cite:before
{
    content: '\2014 \0020';
}


/** Links **/
a
{
    text-decoration: none;
    color: $primary;
    -webkit-backface-visibility: hidden;

    &:hover,
    &:focus {
    	outline: 0;
    	text-decoration: none;
        color: $primary_shade;
    }
}

/** Images  */
img {
    max-width: 100%;
    height: auto;
    
    &.scale-with-grid
	{
    	width: auto;
    	max-width: 100%;
    	height: auto;
	}
}

.hidden
{
    display: none;
}

.no-list li {
    margin: 0;
    list-style: none;
}

#main{
    margin-bottom: 40px;
}


.content-heading {
    margin-left: -100%;
    margin-right: -100%;
    padding-left: 100%;
    padding-right: 100%;
    background: #ECF0F1;
    margin-bottom: 35px;
}

#content-header {
    padding-top: 35px;  
    padding-bottom: 35px;  
}

.fluid, .boxed {
    background: #fff;
    overflow: hidden;
}

.boxed {
    margin: 0 auto;
    max-width: 1140px;
}

.container{
    padding-left: 55px;
    padding-right: 55px;

    @media (max-width: $screen-md-min) {
        padding-left: 35px;
        padding-right: 35px;
    }

    @media (max-width: $screen-sm-min) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.container-compress{
    width: auto;
    max-width: 750px;
    margin: 0 auto;
}