/*------------------------------------------------------------------
  [6. Headers]
-------------------------------------------------------------------*/
.is-sticky {
	#bp-klein-top-bar{
		z-index: 9999;	
	}
}

#bp-klein-top-bar {

	display: block;
	padding: 15px 0 10px;
	background: #34495E;
	position: relative;


	#klein-search-btn {
			width: 32px;
			height: 32px;
			padding: 0;
			text-align: center;
			position: relative;
			top: 10px;
		&:hover {
			opacity: 0.8;
			display: block;
			
		}
		&:active {
			opacity: 0.5;
		}

		.fa {
			font-size: 15px;
			width: 32px;
		}
	}

	#klein-search-container {
		opacity: 0;
		position: absolute;
		background: $white;
		box-shadow: 0px 8px 16px -6px $cloud_shade;
		width: 250px;
		left: -100px;
		top: 75px;
		padding: 10px;
		z-index: 999;
		@include border-radius(4px);
		@include animate(all, 250ms, ease-in-out);
		
		input[type=search]{
			margin-bottom: 0;
		}

		&.active {
			opacity: 1;
			top: 45px;
		}
	}

	#logo-anchor h1 {
		position: absolute;
		text-indent: -9999px;
	}

	#site-name {
		h1 a {
			color: $primary;
			text-decoration: none;
		}
	}

	#bp-klein-user-bar-action {
		margin-top: 5px;
	}

	#klein-login-btn {
		margin-right: 8px;

		@media (max-width: $screen-sm-min) {
			margin-right: 0;
		}
	}

	/** Top Updates **/

	.bp-klein-dropdown-menu {
		@include border-radius(4px);
		box-shadow: 0px 5px 0px $cloud_shade;
		-moz-box-shadow: 0px 5px 0px $cloud_shade;
		-webkit-box-shadow: 0px 5px 0px $cloud_shade;
	}

	#klein-top-updates {
		position: relative;
		display: inline-block;
		margin-left: -4px;
	}

	#klein-top-updates-nav {
		position: absolute;
		right: -21px;
		z-index: 999;
		margin-top: 23px;

		background: $cloud;
		border: 1px solid $cloud;

		@include border-radius(4px);

		&:after, &:before {
			bottom: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: $cloud;
			border-width: 6px;
			left: 84%;
			margin-left: -6px;
		}
		&:before {
			border-color: rgba(194, 225, 245, 0);
			border-bottom-color: $cloud;
			border-width: 7px;
			left: 84%;
			margin-left: -7px;
		}
		display: none;
		ul {
			margin: 0;
			list-style: none;
			padding-left: 0;
		}
		li {
			margin: 0;
			list-style: none;
			a {
				display: inline-block;
				padding: 10px 20px;
				border-bottom: 1px solid $cloud_shade;
				width: 250px;
				font-size: 14px;
				&:hover {
					opacity: 0.8;
				}
			}
			&:last-child a {
				@include border-radius(4px);
				border-bottom: none;
			}
		}
		a {
			color: #34495E;
		}
	}

	#klein-user-nav-user-profile a span {
		font-weight: bold;
		display: inline-block;
		margin-top: 6px;
	}

	.top-profile-avatar {
		display: inline-block;
		margin-bottom: -6px;
		float: left;
		margin-right: 15px;
		img {
			@include border-radius(50%);
		}
	}

	#klein-top-bp-profile-link {
		@include border-radius(4px);
	}

	#klein-top-updates-btn {
		font-size: 8px;
		width: 32px;
		height: 32px;
		padding-top: 10px;
	}
}

#klein-top-links {
	
	background: #2C3E50;

	@media (max-width: $screen-sm-min) {
		.col-sm-6,
		.pull-right {
			display: inline-block;
			width: 100%;
			margin-bottom: -6px; /*Remove the extra margin generated by the 'inline-block' property*/
			float: none !important; /*Overwrite Twitter Bootstrap floating rule*/
			border-bottom: 1px solid rgba(255, 255, 255, 0.075);
		}
	}
	

	ul li{
		float: left;
		a {
			padding: 10px;
			display: block;
			color: $cloud;
			&:hover {
				color: $white;
			}
		}
	}

	.top-links-menu {
		li {
			&:last-child {
				a {
					border-right: 0;
				}
			}
			a {
				padding: 10px;
				display: block;
				@include tMeasure(14);
				margin-bottom: 0;
				border-right: 1px solid rgba(255,255,255, 0.075);
				@media (max-width: $screen-sm-min) {
					border-right: 0;
				}
			}
		}
	}
}