/*------------------------------------------------------------------
  [7. Menu]
-------------------------------------------------------------------*/

.desktop-menu 
{
    position: static;

    ul.sub-menu li a {
        background: $dark_blue;
        &:hover {
            background: $dark_blue_shade;
        }
    }

    ul.menu.desktop {
        list-style: none;
        padding-left: 0;
        width: 100%;
        display: inline-block;
        margin-bottom: 0;

        li {

            list-style: none;
            float: left;
            position: relative;

            &:hover {
                > ul {
                    display: block;
                }
            }

            &.menu-item-has-children > a:after{
                font-family: "FontAwesome";
                content: "\f107";
                margin-left: 5px;
                font-size: 12px;
                display: inline;
                opacity: 0.64;
            }

            a {
                color: $cloud;
                padding: 10px;
                display: block; 
            }

            /*Columnize*/
            &.columnize {

                position: static;
              
                > ul.sub-menu {
                    position: absolute;
                    width: 100%;
                    background: $dark_blue;
                    left: 0;
                    padding: 20px 40px;
                    
                        &:before {
                            content: " ";
                            display: block;
                            margin: 0 -40px 30px;
                            border-top: 2px solid rgba(0, 0, 0, 0.15);

                        }

                        li {
                            width: 25%;
                        }
                        
                        li:first-child {
                            margin-top: 0;
                        }
                }

                &:hover {
                    ul {
                        display: inline-block;
                    }
                }
                ul {
                    display: none;
                    position: static;

                        li {

                            float: left;
                            margin-bottom: 20px;

                                a {
                                    padding: 5px 25px;
                                    font-weight: normal;
                                    font-style: italic;
                                    text-transform: none;
                                    font-size: 14px
                                }
                                &.menu-item-has-children > a {
                                    font-size: 13px;
                                    padding: 10px 20px;
                                    text-transform: uppercase;
                                    font-weight: bolder;
                                    font-style: normal;

                                    &:after{
                                        content: "";
                                    }
                                }
                                ul {
                                    li {
                                        float: none;
                                        margin-bottom: 0;
                                    }
                                }
                        }
                }
            }
            /*Sub Menus*/
            ul {
                display: none;
                position: absolute;
                z-index: 9999;
                padding: 0;
                margin-bottom: 0;   
                left: -10px;

                &.sub-menu > li:first-child {
                        margin-top: 16px;
                    }

                li {

                    float: none;
                    
                    &.menu-item-has-children > a:after{
                        content: "\f105";
                        font-family: "FontAwesome";
                        float: right;
                        position: relative;
                    }

                    a {
                        width: 210px;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 10px 20px; 
                        
                    }

                    ul.sub-menu {
                        left: 210px;
                        top: -16px;
                    }
                }
            }
        }
    }
}


.nav-btn {
    background: $cloud;
    color: $dark_blue;
    padding: 12px 16px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
.menu.mobile
{
    position: absolute;
    z-index: 9999;
    top: 66px;
    left: 0;
    width: 100%;

    display: none;

    padding-left: 0;

    #main-menu-search {
       display: none;
    }

    li
    {
        margin: 0;

        list-style: none;
    }
    ul
    {
        margin: 0;
        padding-left: 0;

        list-style: none;
        &.sub-menu
        {
            display: none;
        }
        &.children li
        {
            a
            {
                padding-left: 2em;
            }
            > ul.children li
            {
                a
                {
                    padding-left: 4em;
                }
                > ul.children li a
                {
                    padding-left: 6em;
                }
            }
        }
    }
    li
    {
        display: inline-block;

        width: 100%;
        margin: 0;
        a
        {
            font-size: 18px;

            display: inline-block;

            box-sizing: border-box;
            width: 100%;
            padding: 20px 30px;

            color: $cloud;
            border-bottom: 1px solid $dark_blue;
            background: #2c3e50;
        }
    }
    .sub-menu li a
    {
        font-size: 16px;
        font-style: italic;

        background: #2c3e50;
    }
    li a
    {
        .sub-menu-toggle
        {
            display: inline-block;
            float: right;

            margin: -10px;
            margin-right: 0;
            padding: 8px 18px;

            text-align: center;

            background: $dark_blue;
        }
        &:hover
        {
            background: $dark_blue;
        }
    }
}

