$baseSize: 16;
$baseLine: 24;
$headingsFontStack: 'Source Sans Pro', sans-serif;
$bodyFontStack: 'Source Sans Pro', 'sans-serif';
$smallScreenBreakPoint: 872;

/**
 * Measures the rhythmic 
 * vertical balance 
 * for the typography
 */
@mixin tMeasure($fontSize) 
{
    font-size: $fontSize / $baseSize + em;
    line-height: $baseLine / $fontSize;
    margin-bottom: $baseLine / $fontSize + em;


}

/**
 * Declares the border-radius
 * for any element
 * @param  {variant} $radius the border radius in 'px' or 'percentage'
 */
@mixin border-radius($radius) 
{
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin animate($animate, $delay, $easing)
{
    -webkit-transition: $animate $delay $easing;
    -moz-transition: $animate $delay $easing;
     transition: $animate $delay $easing;
}