/*------------------------------------------------------------------
  [15. Plugins]
-------------------------------------------------------------------*/

.bp-groups-carousel li.carousel-item a img,
.bp-members-carousel li.carousel-item a img
{
	@include border-radius(0);
}

.gears-bp-groups-carousel-2
{
    .item-details
    {
        padding: 20px;

        background: $cloud;
        p
        {
            font-size: 14px;
            font-style: italic;
        }
        .activity
        {
            display: none;
        }
    }
    .group-title
    {
        font-size: 16px;
    }
}

/*= Pricing Table
------------------------------------- */

.gears-pricing-table
{
    text-align: center;

    @include border-radius(6px);
    background: $cloud;
}

.gears-pricing-table-btn,
.gears-pricing-table-title,
.gears-pricing-table-price-label
{

    padding: 20px;
}

.gears-pricing-table-title
{
    margin: -25px -25px 0 -25px;
    background: $primary;

    .glyphicon-star
    {
        color: $yellow;
    }
}

.gears-pricing-table-price-label
{
    margin: 0 -25px;
    padding: 15px;

    background: $primary_shade;
}

.gears-pricing-table-title .widget-title
{
    font-size: 24px;

    margin-bottom: 0;

    color: $cloud;
}

.gears-pricing-table-price-label h3
{
    font-size: 14px;

    margin-bottom: 0;

    text-transform: uppercase;

    color: $cloud;
}

.gears-pricing-table-features-list
{
    margin: 0;
    padding: 10px 20px;

    list-style: none;

    text-align: left;

    color: $dark_blue;
    border-bottom: 1px solid $cloud_shade;

    .glyphicon
    {
        color: $primary;
    }

    .glyphicon-remove-circle
    {
        color: $red;
    }
}

.gears-pricing-table-features
{
    margin: 20px 0;
}

.gears-pricing-table-features-list:last-child
{
    border-bottom: none;
}


/**
 * Activity Stream
 * ---------------- */

.activity.gears-module
{
    #activity-stream .activity-avatar
    {
        margin-top: 2px;
    }
    .gears-activity-avatar
    {
        display: inline-block;

        width: 60px;
        img.avatar
        {
            max-width: 100%;
            height: auto;
        }
    }
    .activity-content
    {
        position: relative;

        padding: 10px;

        border: 1px solid;
        border-color: $cloud;
        &:after,
        &:before
        {
            position: absolute;
            right: 100%;

            width: 0;
            height: 0;

            content: ' ';
            pointer-events: none;

            border: solid transparent;
        }
        &:after
        {
            top: 20px;

            border-width: 5px;
            border-color: rgba(136, 183, 213, 0);
            border-right-color: $white;
        }
        &:before
        {
            top: 18px;

            border-width: 7px;
            border-color: rgba(194, 225, 245, 0);
            border-right-color: $cloud;
        }
    }
}

/* RevSlider
--------------- */

#klein-rev-slider form.mc4wp-form
{
    width: 300px;
    max-width: 100%;
}

/* Contact Form 7
---------------- */

.wpcf7-form
{
    input
    {
        &[type=text],
        &[type=email],
        &[type=password]
        {
            
            max-width: 100%;
        }
    }
    textarea
    {
        
        max-width: 100%;
    }
}

.klein-breadcrumbs
{
    font-size: 14px;
    font-weight: 400;

    clear: both;
    a
    {
        display: inline-block;

        text-transform: capitalize;
    }
}

.breadcrumb-separator
{
    display: inline-block;

    margin: 0 15px;
}

/*# BuddyPress reCaptcha support
 ==================================== */

#recaptcha_widget_div
{
    margin-bottom: 20px;
}

#recaptcha_table td
{
    background: none;
}

/*PMPRO*/
.klein form.pmpro_form {
    label {
        width: auto;
    }

    .input, 
    textarea {
        width: 95%;
    }

    select {
        display: inline-block;

        width: 210px;
        margin: 0 3px 0 0;
        padding: 6px 10px 8px 12px;
        padding-left: 2px;

        border: 1px solid $cloud_shade;
    }
    .pmpro_submit {
        margin-left: 30px;
    }
    .pmpro_btn-submit-checkout
    {
        margin-left: 0;
        font-size: 15px;
        &:hover {
            background: $green_shade;
            color: $white;
        }
    }

    div
    {
        margin-top: 0;
    }

     .input,
        textarea
        {
            display: inline-block;

            margin: 0 3px 0 0;
            padding: 6px 10px 8px 12px;

            border: 1px solid $cloud_shade;
        }
}

.pmpro_checkout {
    border: 0;
    thead th {
        color: $dark_blue;
        
        padding: 15px 25px;
        @include tMeasure(19);
        font-style: normal;
        font-weight: 400;
    }
    tbody {

        td {
            border: none;
            padding: 15px 25px;
        }
    }
    ul
    {
        font-size: 13px;
    }
}

#pmpro_levels_table
{
    width: 100%;
}

.pmpro_message
{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;

    margin: .5em 0;
    padding: 10px 20px 10px 26px;

    color: $dark_blue;
  
    background-repeat: no-repeat;
    background-position: 6px 10px;
}

.pmpro_error
{
    color: #e36154;
    background-color: #f9d6cb;
    background-image: url(../images/icon_error.gif);
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 6px;
}

#pmpro_account {
    .pmpro_box {
        border-top: 0;
        padding: 25px;
        background: $cloud;
        
        h3 {
            margin: 0;
            @include tMeasure(20);
        }

        p {
            margin:  0;
            @include tMeasure(16);
        }
        ul {
            margin-bottom: $baseLine + px;
        }
    }
}

/*RTMEDIA*/
.klein .vc_gitem-col {
    padding: 20px;
}
.rtmedia-container .rtMedia-queue-list tr.upload-waiting, .rtmedia-activity-container .rtMedia-queue-list tr.upload-waiting, #buddypress div.rtmedia-activity-container .rtMedia-queue-list tr.upload-waiting {
    word-wrap: break-word;
    word-break: break-all;
}

/*Visual Composer*/


.klein-carousel {
    &:hover {
        .carousel-control {
            visibility: visible;
        }
    }
}
.carousel-control {
    background: $cloud;
    visibility: hidden;
    opacity: 0.9;
        &.right,
        &.left {
            background-image: none;
            height: 50px;
            width: 50px;
            bottom: 0;
            top: auto;
            opacity: 1;
            text-shadow: none;
            color: $grey;
            &:hover {
                opacity: 1;
            }
        }

        &.left {
            right: 50px;
            left: auto;
            border-right: 1px solid $cloud_shade;
        }

        .fa {
            position: relative;
            top: 10px;
        }
}

