//colors
$white: #fff;
$color_suva_gray_approx: #888;
$black_50: rgba(0, 0, 0, .5);
$black: #000; 
$color_scarpa_flow_approx: #4e5b6c;
$color_flame_pea_approx: #de543e;
$color_fuscous_gray_approx: #555;
$black_85: rgba(0,0,0,.85);
$color_cerise_red_approx: #db4360;
$color_aqua_forest_approx: #67ae73;
$black_100: rgba(0, 0, 0, 1);
$color_storm_dust_approx: rgb(102, 102, 102);
$color_mustard_approx: rgb(255, 214, 88);
$color_tapa_approx: rgb(117, 117, 117);
$color_log_cabin_approx: rgb(34, 34, 34);
$color_cararra_approx: rgba(235, 235, 235, 1);
$color_pickled_bluewood_approx: rgb(52, 73, 94);
$color_grenadier_approx: rgb(227, 58, 12);
$color_tree_poppy_approx: rgb(243, 156, 18);
$color_schist_approx: rgba(160, 179, 151, 1);
$color_oslo_gray_approx: rgb(127, 140, 141);

//fonts
$font_0: 'Source Sans Pro', sans-serif;
$font_1: 'Source Sans Pro';
$font_2: sans-serif;

.tp-caption {
	&.medium_grey {
		font-family: $font_0;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		position: absolute;
		margin: 0;
		padding: 2px 4px;
		white-space: nowrap;
		color: $white;
		border-width: 0;
		border-style: none;
		background-color: $color_suva_gray_approx;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 5px $black_50;
	}
	&.small_text {
		font-family: $font_0;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $white;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 5px $black_50;
	}
	&.medium_text {
		font-family: $font_0;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $white;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 5px $black_50;
	}
	&.large_text {
		font-family: $font_0;
		font-size: 40px;
		font-weight: 700;
		line-height: 40px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $white;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 5px $black_50;
	}
	&.very_large_text {
		font-family: $font_0;
		font-size: 60px;
		font-weight: 700;
		line-height: 60px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		letter-spacing: -2px;
		color: $white;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.very_big_white {
		font-family: $font_0;
		font-size: 60px;
		font-weight: 800;
		line-height: 60px;
		position: absolute;
		margin: 0;
		padding: 0 4px;
		padding-top: 1px;
		white-space: nowrap; 
		color: $white;
		border-width: 0;
		border-style: none;
		background-color: $black;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.very_big_black {
		font-family: $font_0;
		font-size: 60px;
		font-weight: 700;
		line-height: 60px;
		position: absolute;
		margin: 0;
		padding: 0 4px;
		padding-top: 1px;
		white-space: nowrap;
		color: $black;
		border-width: 0;
		border-style: none;
		background-color: $white;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.modern_medium_fat {
		font-family: $font_1, $font_2;
		font-size: 24px;
		font-weight: 800;
		line-height: 20px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $black;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.modern_medium_fat_white {
		font-family: $font_1, $font_2;
		font-size: 24px;
		font-weight: 800;
		line-height: 20px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $white;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.modern_medium_light {
		font-family: $font_1, $font_2;
		font-size: 24px;
		font-weight: 400;
		line-height: 20px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $black;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.modern_big_bluebg {
		font-family: $font_1, $font_2;
		font-size: 30px;
		font-weight: 800;
		line-height: 36px;
		position: absolute;
		margin: 0;
		padding: 3px 10px;
		letter-spacing: 0;
		color: $white;
		border-width: 0;
		border-style: none;
		background-color: $color_scarpa_flow_approx;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.modern_big_redbg {
		font-family: $font_1, $font_2;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		position: absolute;
		margin: 0;
		padding: 3px 10px;
		padding-top: 1px;
		letter-spacing: 0;
		color: $white;
		border-width: 0;
		border-style: none;
		background-color: $color_flame_pea_approx;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.modern_small_text_dark {
		font-family: $font_0;
		font-size: 14px;
		line-height: 22px;
		position: absolute;
		margin: 0;
		white-space: nowrap;
		color: $color_fuscous_gray_approx;
		border-width: 0;
		border-style: none;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.boxshadow {
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 20px $black_50;
	}
	&.black {
		color: $black;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.noshadow {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.thinheadline_dark {
		font-family: $font_1;
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		position: absolute;
		color: $black_85;
		background-color: transparent;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.thintext_dark {
		font-family: $font_1;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		position: absolute;
		color: $black_85;
		background-color: transparent;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.largeblackbg {
		font-family: $font_1;
		font-size: 50px;
		font-weight: 400;
		line-height: 70px;
		position: absolute;
		padding: 0 20px;
		color: $white;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $black;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.largepinkbg {
		font-family: $font_1;
		font-size: 50px;
		font-weight: 400;
		line-height: 70px;
		position: absolute;
		padding: 0 20px;
		color: $white;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $color_cerise_red_approx;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.largewhitebg {
		font-family: $font_1;
		font-size: 50px;
		font-weight: 400;
		line-height: 70px;
		position: absolute;
		padding: 0 20px;
		color: $black;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $white;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.largegreenbg {
		font-family: $font_1;
		font-size: 50px;
		font-weight: 400;
		line-height: 70px;
		position: absolute;
		padding: 0 20px;
		color: $white;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $color_aqua_forest_approx;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.excerpt {
		font-family: $font_0;
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		width: 150px;
		height: auto;
		margin: 0;
		padding: 1px 4px 0;
		white-space: normal ;
		text-decoration: none;
		letter-spacing: -1.5px;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $white;
		background-color: $black_100;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.large_bold_grey {
		font-family: $font_1;
		font-size: 60px;
		font-weight: 800;
		line-height: 60px;
		margin: 0;
		padding: 1px 4px 0;
		text-decoration: none;
		color: $color_storm_dust_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.medium_thin_grey {
		font-family: $font_1;
		font-size: 34px;
		font-weight: 400;
		line-height: 30px;
		margin: 0;
		padding: 1px 4px 0;
		text-decoration: none;
		color: $color_storm_dust_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.small_thin_grey {
		font-family: $font_1;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		margin: 0;
		padding: 1px 4px 0;
		text-decoration: none;
		color: $color_tapa_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	&.lightgrey_divider {
		width: 370px;
		height: 3px;
		text-decoration: none;
		border-width: 0;
		border-style: none;
		border-color: $color_log_cabin_approx;
		background-color: $color_cararra_approx;
		background-repeat: initial initial;
		background-position: initial initial;
	}
	&.large_bold_darkblue {
		font-family: $font_1;
		font-size: 58px;
		font-weight: 800;
		line-height: 60px;
		text-decoration: none;
		color: $color_pickled_bluewood_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.medium_bg_darkblue {
		font-family: $font_1;
		font-size: 20px;
		font-weight: 800;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: $color_pickled_bluewood_approx;
	}
	&.medium_bold_red {
		font-family: $font_1;
		font-size: 24px;
		font-weight: 800;
		line-height: 30px;
		padding: 0;
		text-decoration: none;
		color: $color_grenadier_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.medium_light_red {
		font-family: $font_1;
		font-size: 21px;
		font-weight: 400;
		line-height: 26px;
		padding: 0;
		text-decoration: none;
		color: $color_grenadier_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.medium_bg_red {
		font-family: $font_1;
		font-size: 20px;
		font-weight: 800;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: $color_grenadier_approx;
	}
	&.medium_bold_orange {
		font-family: $font_1;
		font-size: 24px;
		font-weight: 800;
		line-height: 30px;
		text-decoration: none;
		color: $color_tree_poppy_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.medium_bg_orange {
		font-family: $font_1;
		font-size: 20px;
		font-weight: 800;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: $color_tree_poppy_approx;
	}
	&.grassfloor {
		width: 4000px;
		height: 150px;
		text-decoration: none;
		border-width: 0;
		border-style: none;
		border-color: $color_log_cabin_approx;
		background-color: $color_schist_approx;
	}
	&.large_bold_white {
		font-family: $font_1;
		font-size: 58px;
		font-weight: 800;
		line-height: 60px;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.medium_light_white {
		font-family: $font_1;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		padding: 0;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.mediumlarge_light_white {
		font-family: $font_1;
		font-size: 34px;
		font-weight: 400;
		line-height: 40px;
		padding: 0;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.mediumlarge_light_white_center {
		font-family: $font_1;
		font-size: 34px;
		font-weight: 400;
		line-height: 40px;
		padding: 0;
		text-align: center;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.medium_bg_asbestos {
		font-family: $font_1;
		font-size: 20px;
		font-weight: 800;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: $color_oslo_gray_approx;
	}
	&.medium_light_black {
		font-family: $font_1;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		padding: 0;
		text-decoration: none;
		color: $black;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.large_bold_black {
		font-family: $font_1;
		font-size: 58px;
		font-weight: 800;
		line-height: 60px;
		text-decoration: none;
		color: $black;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.mediumlarge_light_darkblue {
		font-family: $font_1;
		font-size: 34px;
		font-weight: 400;
		line-height: 40px;
		padding: 0;
		text-decoration: none;
		color: $color_pickled_bluewood_approx;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.small_light_white {
		font-family: $font_1;
		font-size: 17px;
		font-weight: 400;
		line-height: 28px;
		padding: 0;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: transparent;
	}
	&.roundedimage {
		border-width: 0;
		border-style: none;
		border-color: $color_log_cabin_approx;
	}
	&.large_bg_black {
		font-family: $font_1;
		font-size: 40px;
		font-weight: 800;
		line-height: 40px;
		padding: 10px 20px 15px;
		text-decoration: none;
		color: $white;
		border-width: 0;
		border-style: none;
		border-color: $color_mustard_approx;
		background-color: $black;
	}
	&.mediumwhitebg {
		font-family: $font_1;
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		padding: 5px 15px 10px;
		text-decoration: none;
		color: $black;
		border-width: 0;
		border-style: none;
		border-color: $black;
		background-color: $white;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
}