/*------------------------------------------------------------------
  [16. RevSlider Skin]
-------------------------------------------------------------------*/

.tp-rightarrow.default,
.tp-leftarrow.default {
	height: 75px;
	width: 75px;
	overflow: hidden;
	background: $primary;

	&:before {
		content: "\f104";
		font-family: FontAwesome;
		font-size: 20px;
		color: $cloud;
		display: block;
		padding: 25px 20px 20px 32px;
	}
	&:hover {
		height: 75px;
		width: 75px;
		overflow: hidden;
		background: $primary-shade;
	}

	@media screen and (max-width: 780px) {
		height: 40px;
		width: 40px;

		&:before {
			padding: 7.5px 17px;
		}
		
		&:hover {
			height: 40px;
			width: 40px;
		}
	}
} 

.tp-rightarrow.default,
.tp-leftarrow.default {
	right: 75px;
	left: auto!important;
	border-right: 1px solid $primary_shade;
	bottom: 0px;
	top: auto!important;
}

.tp-leftarrow.default {
	@media screen and (max-width: 780px) {
		right: 40px;
	}
}
.tp-rightarrow.default {
	right: 0px!important;
	&:before {
		content: "\f105";
	}
}

/*Bullets*/
.tp-bullets.simplebullets.round .bullet {

	height: 15px;
	width: 15px;
	
	background: $cloud;
	border: 2px solid $cloud_shade;
	
	@include border-radius(50%);
	
	&.selected {
		background: $green;
		border: 2px solid $green_shade;
	}
}

.tp-caption {
	font-family: $font-stack;
}
