/*------------------------------------------------------------------
  [3.0 Typography]
-------------------------------------------------------------------*/

$font-stack: 'Source Sans Pro', sans-serif;

.tp-caption.mediumlarge_light_white {
	font-family: $font-stack!important;
}

html {
   font-size: $baseSize + px;

    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body
{
    font-family: $font-stack;
    font-weight: 400;
    word-wrap: break-word;
    color: $grey_shade;

    @include tMeasure(15);

    margin-bottom: 0;
}

em,
.klein-breadcrumbs,
.wp-caption-text
{
    font-style: italic;
}

blockquote p
{
    
   
    font-style: italic;
    color: $dark_blue_shade;

    @include tMeasure(18);
    
}

p
{
    @include tMeasure(16);
    img {
        margin-bottom: $baseLine+px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-weight: 600;
    margin-top: 0;
}

label
{
    font-weight: 400;
    font-style: italic;
}

legend,
caption,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 600;

    color: $dark_blue_shade;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
    font-weight: inherit;
}
h1
{
	@include tMeasure(38);
}
h2
{
	@include tMeasure(29);
}
h3
{
	@include tMeasure(22);
}
h4
{
	@include tMeasure(20);
}
h5
{
	@include tMeasure(16);

    text-transform: uppercase;
}
h6
{
	@include tMeasure(14);
}


p.lead
{
    @include tMeasure(20);
}

h1, h2, h3, h4, h5, h6{
    @media (max-width: $smallScreenBreakPoint + px) {
        line-height: 120%;
    }
}


/*
 * list
 */
ul,
ol
{
    margin-bottom: $baseLine + px;
    padding-left: 20px;
}
ol
{
    list-style: decimal;
}
ul.square
{
    list-style: square outside;
}
ul.circle
{
    list-style: circle outside;
}
ul.disc
{
    list-style: disc outside;
}

ul.large li
{
    line-height: $baseLine + px;
}
li p
{
    line-height: $baseLine + px;
}