/*------------------------------------------------------------------
  [12. WordPress]
-------------------------------------------------------------------*/
.gallery-caption { display: block; }
.bypostauthor { display: block;  }

.entry-content {
	&:after {
		content: " ";
		display: block;
		clear: both;
		width: 100%;
	}
}

.no-comments,
.post-edit-link,
.page-links:not(a),
.comment-awaiting-moderation,
.screen-reader-text
{
    color: $red;
}


/** Post Navigation **/
#klein-sidebar-togglers {
    margin-top: -20px;
}

.sidebar-toggle {
    display: inline-block;
    float: left;
}

.post-navigation {
	.nav-previous a:hover,
	.nav-next a:hover{
		text-decoration: none;
	}
	.nav-previous p,
	.nav-next p {
		margin: 0;
	}
}

.nav-previous-link{
	float: right;
     margin-right: 15px;
}
.nav-next-link{
	float: right;
}

.single-navigation
{
    background-color: $cloud;
    .prev-posts,
	.next-posts
	{
	    padding: 35px;

	    border: 1px solid $cloud;
	    border-bottom: 0;
	    background: $cloud;

	    h3 a {
	    	color: $dark_blue;
	    }
	}

	.prev-posts
	{
	    opacity: .85;
	    border-color: $white;
	    background: $white;
	}
}

/** Alignments  */
.textalignright,
.text-alignright
{
    text-align: right;
}

.textalignleft,
.text-alignleft
{
    text-align: left;
}

.text-aligncenter
{
    text-align: center;
}
.alignright
{
    float: right;

    margin-left: 1em;
}
.alignleft
{
    float: left;

    margin-right: 1em;
}
.aligncenter
{
    text-align: center;
    display: block;
    margin: 0 auto;
}

img.aligncenter
{
    display: block;

    margin: 0 auto;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail
{
    max-width: 100%;
    height: auto;
}


/**Captions**/

.wp-caption {
	position: relative;
	max-width: 100%;
	img {
		width: auto;
		max-width: 100%;
	}
	&:empty {
		display: none;
	}
}
.wp-caption-dt {
	margin: 1em;
	&:empty {
		display: none;
	}
}
.wp-caption-text {
	padding-bottom: 0;
	color: $grey_shade;
	padding: 10px 0;
	font-size: 14px;
	&:empty {
		display: none;
	}
}

.edit-link
{
    display: inline-block;
}

.page-link
{
    margin-left: 20px;
}

.attachment-thumbnail:hover
{
    opacity: .8;
}

.embed-video iframe
{
    max-width: 100%;
    height: 450px;
}