/**
 * Carrot PRESET
 *
 * @package Klein
 * @since 1.0
 *
 */

.bx-wrapper .bx-controls-direction a,
.bbp-pagination-links span.current,
.tp-rightarrow.default,
.tp-leftarrow.default,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce .widget_layered_nav ul li,
.woocommerce-page .widget_layered_nav ul li,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.desktop-menu ul.menu.desktop li.columnize > ul.sub-menu
{
    background: #E67E22;
}

span.page-numbers:hover,
a.page-numbers:hover,
.widget.buddypress .item-options a.selected,
a
{
    color: #D35400;
}

.desktop-menu ul.sub-menu li a:hover,
.desktop-menu ul.children li a:hover
{
    background: #D35400;
}


.tp-rightarrow.default:hover,
.tp-leftarrow.default:hover,
#footer
{
    background: #D35400;
}

.item-list-tabs li a span:after
{
    border-top-color: #34495e;
}

.desktop-menu ul.sub-menu > li > ul.sub-menu > li:first-child:before,
.desktop-menu ul.children > li > ul.children > li:first-child:before
{
    border-right-color: #D35400;
}

.desktop-menu ul.sub-menu li:first-child:before,
.desktop-menu ul.children li:first-child:before
{
    border-bottom-color: #D35400;
}

.desktop-menu ul.sub-menu li a,
.desktop-menu ul.children li a,
#header,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
#footer-widgets,
.gears-pricing-table-title
{
    background: #E67E22;
}


a.fp-controls,
.front-page-highlights-nav-left,
.front-page-highlights-nav-right,
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
span.page-numbers,
#bp-klein-top-bar
{
    background: #E67E22;
}

span.page-numbers,
a.page-numbers,
.front-page-highlights-nav-left,
.front-page-highlights-nav-right,
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item
{
    border-right: 1px solid #D35400;
}

.woocommerce .widget_layered_nav ul small.count,
.woocommerce-page .widget_layered_nav ul small.count,
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.widget.widget_calendar table td a, .widget.widget_calendar table td#prev,
.gears-pricing-table-price-label,
.gears-pricing-table-btn .btn.btn-success
{
    background: #D35400;
}

.woocommerce ul.cart_list li dl,
.woocommerce-page ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl,
.woocommerce-page ul.product_list_widget li dl
{
    border-left: 1px solid #bdc3c7;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce-page .widget_shopping_cart .total
{
    border-top: 1px solid #bdc3c7;
}

.widget,
.widget a
{
    color: #2c3e50;
}

span.page-numbers,
.page-numbers:hover,
#footer-widgets .widget,
#footer-widgets .widget a
{
    color: #ecf0f1;
}

#front-page-widgets-section-a .widget-title
{
    color: #ecf0f1;
}

.widget.widget_bp_groups_widget .widget-title a,
.widget.widget_bp_core_members_widget .widget-title a
{
    color: #222;
}


#whats-new:focus
{
    border: 2px solid #E67E22;
}

.entry-content-thumbnail-zoom
{
    background: #E67E22;
}

.widget_layered_nav li a
{
    color: #ecf0f1;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle
{
    border: 1px solid #D35400;
    background: #D35400;
}

.woocommerce .woocommerce-pagination li a.page-numbers:hover,
.woocommerce .woocommerce-pagination li span.page-numbers.current:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.widget.widget_calendar table th,
.widget.widget_calendar table td
{
    background: #E67E22;
}

/*
 * Mobile Navigation
 * 
 * Added @version 2.0.7
 * @package klein
 * @version 2.0.7
 * */
.menu.mobile li a
{
    background: #E67E22;
}
.menu.mobile .sub-menu li a:hover,
.menu.mobile li a:hover
{
    background: #E67E22;
}
.menu.mobile .sub-menu li a,
.menu.mobile li a .sub-menu-toggle
{
    background: #D35400;
}
.menu.mobile li a
{
    border-bottom: 1px solid #D35400;
}


select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=week]:focus,
.widget.buddypress .item-options a.selected,
span.page-numbers:last-child,
span.page-numbers:hover,
a.page-numbers:hover,
span.page-numbers,
a.page-numbers,
a.page-numbers:last-child,
.tp-rightarrow.default,
.tp-leftarrow.default,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.item-list-tabs li.selected a,
.item-list-tabs li.current a,
.activity-type-tabs li.selected a,
.widget.widget_calendar tfoot, .widget.widget_calendar thead,
.widget.widget_calendar table td,
.desktop-menu ul.menu.desktop li.columnize > ul.sub-menu
{
    border-color: #D35400;
}

.tp-bullets.simplebullets.round .bullet.selected
{
    border: 2px solid #D35400;
    background: #E67E22;
}

#klein-top-links,
.woocommerce .shipping-calculator-button,
.add_to_cart_button,
.subscription-toggle,
.generic-button a,
.bp-login-widget-register-link a,
a.comment-edit-link,
a.post-edit-link,
a.vc_inline-link,
button,
input[type=button],
input[type=reset],
input[type=submit],
.add_to_cart_button,
.btn.btn-primary
{
    background: #D35400;
}


